<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.dictionary.DepartmentDictionaryDao">

    <resultMap id="departmentDictionaryMap" type="com.jyxd.web.data.dictionary.DepartmentDictionary">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="department_code" property="departmentCode" jdbcType="VARCHAR"/>
        <result column="department_name" property="departmentName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="departmentDictionary_colums">id,department_code,department_name,status</sql>
    <sql id="departmentDictionary_propertys">#{id},#{departmentCode},#{departmentName},#{status}</sql>
    <sql id="departmentDictionary_update">department_code=#{departmentCode},department_name=#{departmentName},status=#{status}</sql>

    <insert id="insert">
        insert into
        dict_department(<include refid="departmentDictionary_colums"></include>)
        values (<include refid="departmentDictionary_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.dictionary.DepartmentDictionary" >
        update dict_department
        set <include refid="departmentDictionary_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="departmentDictionaryMap" parameterType="java.lang.String">
        select
          <include refid="departmentDictionary_colums"></include>
        from
        dict_department
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="departmentDictionary_colums"></include>
        from
        dict_department
        where
          1=1
        and  status != -1
        <if test="departmentName != null and departmentName != ''">
            and  department_name like '%${departmentName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        order by department_code
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryDataList" resultMap="departmentDictionaryMap">
        select
        <include refid="departmentDictionary_colums"></include>
        from
        dict_department
        where
        1=1
        and  status != -1
        <if test="departmentName != null and departmentName != ''">
            and  department_name like '%${departmentName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
            count(id)
        from
        dict_department
        where
        1=1
        and  status != -1
        <if test="departmentName != null and departmentName != ''">
            and  department_name like '%${departmentName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="queryDataByCode" resultMap="departmentDictionaryMap" parameterType="java.util.Map">
        select
        <include refid="departmentDictionary_colums"></include>
        from
        dict_department
        where
        status != -1
        <if test="departmentCode != null and departmentCode != ''">
            and  department_code =#{departmentCode}
        </if>
        <if test="id != null and id != ''">
            and  id =#{id}
        </if>
    </select>
</mapper>
