<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.InputAmountDao">

    <resultMap id="inputAmountMap" type="com.jyxd.web.data.basic.InputAmount">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" jdbcType="DATE"/>
        <result column="order_type" property="orderType" jdbcType="VARCHAR"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="order_sub_no" property="orderSubNo" jdbcType="VARCHAR"/>
        <result column="order_name" property="orderName" jdbcType="VARCHAR"/>
        <result column="dosage" property="dosage" jdbcType="VARCHAR"/>
        <result column="dosage_units" property="dosageUnits" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="use_mode" property="useMode" jdbcType="VARCHAR"/>
        <result column="check_signature" property="checkSignature" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="inputAmount_colums">id,visit_id,visit_code,patient_id,data_time,order_type,order_code,order_no,order_sub_no,order_name,
                                dosage,dosage_units,speed,create_time,operator_code,status,remark,use_mode,check_signature</sql>

    <sql id="inputAmount_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{orderType},#{orderCode},#{orderNo},#{orderSubNo},
                                  #{orderName},#{dosage},#{dosageUnits},#{speed},#{createTime},#{operatorCode},#{status},
                                  #{remark},#{useMode},#{checkSignature} </sql>

    <sql id="inputAmount_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},data_time=#{dataTime},order_type=#{orderType},
                              order_code=#{orderCode},order_no=#{orderNo},order_sub_no=#{orderSubNo},order_name=#{orderName},dosage=#{dosage},
                              dosage_units=#{dosageUnits},speed=#{speed},create_time=#{createTime},operator_code=#{operatorCode},status=#{status},
                              remark=#{remark},use_mode=#{useMode},check_signature=#{checkSignature}</sql>

    <insert id="insert">
        insert into
        table_input_amount(<include refid="inputAmount_colums"></include>)
        values (<include refid="inputAmount_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.InputAmount" >
        update
        table_input_amount
        set <include refid="inputAmount_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="inputAmountMap" parameterType="java.lang.String">
        select
          <include refid="inputAmount_colums"></include>
        from
        table_input_amount
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="inputAmount_colums"></include>
        from
        table_input_amount
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="patientId != null and patientId != ''">
            and  patient_id = #{patientId}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_input_amount
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="patientId != null and patientId != ''">
            and  patient_id = #{patientId}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getNumByPatientId" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
            count(tia.id)
        FROM
            table_input_amount tia
        LEFT JOIN dict_common_item dci ON dci.common_item_code = tia.order_type AND dci.type='intake'
        LEFT JOIN table_user tua ON tua.login_name = tia.operator_code
        LEFT JOIN dict_common_item dcia ON dcia.common_item_code = tia.use_mode AND dcia.type='use_mode'
        LEFT JOIN table_user tub ON tub.login_name = tia.check_signature
        WHERE 1=1
        AND tia.status != -1
        AND tia.patient_id=#{patientId}
        AND tia.status=#{status}
    </select>

    <select id="queryDataByTime" resultMap="inputAmountMap" parameterType="java.lang.String">
        select
        <include refid="inputAmount_colums"></include>
        from
        table_input_amount
        where 1=1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="id != null and id != ''">
            and  id=#{id}
        </if>
        <if test="orderType != null and orderType != ''">
            and  order_type=#{orderType}
        </if>
        <if test="dataTime != null and dataTime != ''">
            and  date_format(
            data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{dataTime},
            '%Y%m%d %H%i'
            )
        </if>
    </select>

    <select id="getListByPatientId" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(tia.id,"") AS id,
            IFNULL(tia.patient_id,"") AS patient_id,
            IFNULL(date_format(tia.data_time,'%Y-%m-%d'),"") AS date,
            IFNULL(date_format(tia.data_time,'%H:%i'),"") AS time,
            IFNULL(dci.common_item_name,"") AS type_name,
            IFNULL(tia.order_code,"") AS order_code,
            IFNULL(tia.order_no,"") AS order_no,
            IFNULL(tia.order_sub_no,"") AS order_sub_no,
            IFNULL(tia.order_name,"") AS order_name,
            IFNULL(tia.dosage,"") AS dosage,
            IFNULL(tia.dosage_units,"") AS dosage_units,
            IFNULL(tia.speed,"") AS speed,
            IFNULL(tua.user_name,"") AS user_name,
            IFNULL(tia.remark,"") AS remark,
            IFNULL(dcia.common_item_name,"") AS use_mode,
            IFNULL(tub.user_name,"") AS check_user_name
        FROM
            table_input_amount tia
        LEFT JOIN dict_common_item dci ON dci.common_item_code = tia.order_type AND dci.type='intake'
        LEFT JOIN table_user tua ON tua.login_name = tia.operator_code
        LEFT JOIN dict_common_item dcia ON dcia.common_item_code = tia.use_mode AND dcia.type='use_mode'
        LEFT JOIN table_user tub ON tub.login_name = tia.check_signature
        WHERE 1=1
        AND tia.status != -1
        AND tia.patient_id=#{patientId}
        AND tia.status=#{status}
        AND date_format(tia.data_time, '%Y-%m-%d')=#{dataTime}
        order by tia.order_no
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <!-- 根据病人id查询病人在某个时间段的入量汇总信息 -->
    <select id="getInAmount" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(sum(dosage),0)  AS 'total',
        IFNULL(sum(CASE WHEN order_type='001' THEN dosage END),0)  AS '001',
        IFNULL(sum(CASE WHEN order_type='002' THEN dosage END),0)  AS '002',
        IFNULL(sum(CASE WHEN order_type='003' THEN dosage END),0)  AS '003'
        FROM
        table_input_amount
        WHERE
        1 = 1
        AND status != - 1
        AND status= #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 查询病人某段时间内的入量总数 -->
    <select id="getInTotal" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT
         IFNULL(SUM(dosage),0)
        FROM
        table_input_amount
        WHERE
        1 = 1
        AND status != - 1
        AND status= #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 查询病人某段时间内各个入量类型的入量总数 -->
    <select id="getInAnalyze" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
         IFNULL(SUM(tia.dosage),0) as dosage ,
        dci.common_item_name AS name
        FROM
        table_input_amount tia  LEFT JOIN dict_common_item dci ON dci.common_item_code = tia.order_type AND dci.type='intake'
        WHERE
        1 = 1
        and tia.status!=-1
        AND (tia.order_type!=NULL || tia.order_type!='')
        AND (dci.common_item_name !=null || dci.common_item_name !='')
        AND tia.status= #{status}
        AND tia.patient_id = #{patientId}
        AND date_format(tia.data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
        GROUP BY tia.order_type
    </select>

    <!-- 按天查询某段时间内病人出入量列表 -->
    <select id="getInAndOutAnalyzeByDay" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            ab.data_time,
            IFNULL(SUM(ab.in_dosage),0) AS in_dosage,
            IFNULL(SUM(ab.out_dosage),0) AS out_dosage
        FROM
            (
                (
                    SELECT
                        IFNULL(
                            date_format(data_time, '%Y-%m-%d'),
                            ""
                        ) AS data_time,
                        IFNULL(SUM(dosage), "") in_dosage,
                        0 AS out_dosage
                    FROM
                        table_input_amount
                    WHERE
                        patient_id = #{patientId}
                    AND status != -1
                    AND status= #{status}
                    AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
                    GROUP BY
                        date_format(data_time, '%Y-%m-%d')
                )
                UNION ALL
                    (
                        SELECT
                            IFNULL(
                                date_format(data_time, '%Y-%m-%d'),
                                ""
                            ) AS data_time,
                            0 in_dosage,
                            IFNULL(SUM(dosage), "") AS out_dosage
                        FROM
                            table_output_amount
                        WHERE
                            patient_id = #{patientId}
                        AND status != -1
                        AND status= #{status}
                        AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
                        GROUP BY
                            date_format(data_time, '%Y-%m-%d')
                    )
            ) AS ab
        GROUP BY
            ab.data_time
        ORDER BY
            ab.data_time
    </select>

    <!-- 按小时查询某段时间内病人出入量列表 -->
    <select id="getInAndOutAnalyzeByTime" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        ab.date,
        ab.time,
        IFNULL(SUM(ab.in_dosage),0) AS in_dosage,
        IFNULL(SUM(ab.out_dosage),0) AS out_dosage
        FROM
            (
                (
                    SELECT
                        IFNULL(
                            date_format(data_time, '%Y-%m-%d'),
					""
                        ) AS date,
                        IFNULL(
                            date_format(data_time, '%H'),
                            ""
                        ) AS time,
                        IFNULL(SUM(dosage), "") in_dosage,
                        0 AS out_dosage
                    FROM
                        table_input_amount
                    WHERE
                        patient_id = #{patientId}
                    AND status !=- 1
                    AND status= #{status}
                    AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
                    AND (dosage != NULL || dosage != "")
                    GROUP BY
                        date_format(data_time, '%Y-%m-%d %H')
                )
		UNION ALL
			(
				SELECT
					IFNULL(
						date_format(data_time, '%Y-%m-%d'),
						""
					) AS date,
					IFNULL(
						date_format(data_time, '%H'),
						""
					) AS time,
					0 in_dosage,
					IFNULL(SUM(dosage), "") AS out_dosage
				FROM
					table_output_amount
				WHERE
					patient_id = #{patientId}
				AND status !=- 1
				AND status= #{status}
                AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
				AND (dosage != NULL || dosage != "")
				GROUP BY
					date_format(data_time, '%Y-%m-%d %H')
                    )
            ) AS ab
        GROUP BY
            ab.date,
            ab.time
        ORDER BY
            ab.date,
            ab.time
    </select>

    <!-- 护理文书-护理单文书-入量-核对签名-根据入量主键id查询出入量详情 -->
    <select id="getDataDetailsById" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(date_format(tia.data_time, '%Y-%m-%d'),"") AS in_date,
            IFNULL(date_format(tia.data_time, '%H:%i'),"") AS in_time,
            IFNULL(tia.order_name,"") AS order_name,
            IFNULL(tia.order_no,"") AS order_no,
            IFNULL(tia.dosage,"") AS dosage,
            IFNULL(dci.common_item_name,"") AS use_mode,
            IFNULL(tia.remark,"") AS remark,
            IFNULL(ts.user_name,"") AS signature
        FROM
            table_input_amount tia
        LEFT JOIN table_user ts ON ts.login_name=tia.operator_code
        LEFT JOIN dict_common_item dci ON dci.type='use_mode' AND dci.common_item_code=tia.use_mode
        WHERE
         1=1
        AND tia.id=#{id}
    </select>

    <select id="getInAndOutList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(toa.visit_id,"") as visit_id,
        IFNULL(toa.visit_code,"") as visit_code,
        IFNULL(toa.patient_id,"") as patient_id,
        IFNULL(toa.piss,"") as piss,
        IFNULL(toa.faces,"") as faces,
        IFNULL(toa.drainage,"") as drainage,
        IFNULL(date_format(toa.data_time, '%Y-%m-%d %H:%i:%s'),"") as data_time,
        <foreach collection="list" item="customField" index="index" open="" separator="," close="">
            IFNULL(tuc.${customField.filedCode},"") as #{customField.filedName}
        </foreach>

        FROM
        table_output_amount toa
        LEFT JOIN table_custom_content tco ON tco.patient_id=toa.patient_id AND date_format(toa.data_time, '%Y-%m-%d %H:%i:%s')=date_format(tco.data_time, '%Y-%m-%d %H:%i:%s')
        left join table_custom_content tuc on tuc.patient_id=toa.patient_id AND date_format(toa.data_time, '%Y-%m-%d %H:%i:%s')=date_format(tuc.data_time, '%Y-%m-%d %H:%i:%s')
        WHERE
        toa.patient_id = '5aec44cbd0df4a089d16c6eb54f753d5'

    </select>

</mapper>
