<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.MedOrderExecDao">

    <resultMap id="medOrderExecMap" type="com.jyxd.web.data.basic.MedOrderExec">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="order_code" property="orderCode" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="order_sub_no" property="orderSubNo" jdbcType="VARCHAR"/>
        <result column="order_name" property="orderName" jdbcType="VARCHAR"/>
        <result column="specs" property="specs" jdbcType="VARCHAR"/>
        <result column="drug_type" property="drugType" jdbcType="INTEGER"/>
        <result column="order_attr" property="orderAttr" jdbcType="VARCHAR"/>
        <result column="default_time_point" property="defaultTimePoint" jdbcType="DATE"/>
        <result column="start_time_point" property="startTimePoint" jdbcType="DATE"/>
        <result column="complete_time_point" property="completeTimePoint" jdbcType="DATE"/>
        <result column="dosage" property="dosage" jdbcType="VARCHAR"/>
        <result column="dosage_units" property="dosageUnits" jdbcType="VARCHAR"/>
        <result column="all_dosage" property="allDosage" jdbcType="VARCHAR"/>
        <result column="repeat_indicator" property="repeatIndicator" jdbcType="INTEGER"/>
        <result column="use_mode" property="useMode" jdbcType="VARCHAR"/>
        <result column="class_type" property="classType" jdbcType="VARCHAR"/>
        <result column="frequency" property="frequency" jdbcType="VARCHAR"/>
        <result column="perform_speed" property="performSpeed" jdbcType="VARCHAR"/>
        <result column="speed_units" property="speedUnits" jdbcType="VARCHAR"/>
        <result column="nurse_code" property="nurseCode" jdbcType="VARCHAR"/>
        <result column="order_status" property="orderStatus" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="is_sync" property="isSync" jdbcType="INTEGER"/>
        <result column="order_exec_num" property="orderExecNum" jdbcType="INTEGER"/>
        <result column="sync_num" property="syncNum" jdbcType="INTEGER"/>
        <result column="recent_sync_time" property="recentSyncTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="medOrderExec_colums">id,visit_id,visit_code,patient_id,order_code,order_no,
                                    order_sub_no,order_name,specs,drug_type,order_attr,
                                    default_time_point,start_time_point,complete_time_point,
                                    dosage,dosage_units,all_dosage,repeat_indicator,use_mode,
                                    class_type,frequency,perform_speed,speed_units,nurse_code,
                                    order_status,remark,create_time,update_time,is_sync,order_exec_num,sync_num,recent_sync_time</sql>

    <sql id="medOrderExec_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{orderCode},#{orderNo},
                                    #{orderSubNo},#{orderName},#{specs},#{drugType},#{orderAttr},#{defaultTimePoint},
                                    #{startTimePoint},#{completeTimePoint},#{dosage},#{dosageUnits},#{allDosage},
                                    #{repeatIndicator},#{useMode},#{classType},#{frequency},#{performSpeed},#{speedUnits},#{nurseCode},
                                    #{orderStatus},#{remark},#{createTime},#{updateTime},#{isSync},#{orderExecNum},#{syncNum},#{recentSyncTime}</sql>

    <sql id="medOrderExec_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                                    order_code=#{orderCode},order_no=#{orderNo},order_sub_no=#{orderSubNo},
                                    order_name=#{orderName},specs=#{specs},drug_type=#{drugType},
                                    order_attr=#{orderAttr},default_time_point=#{defaultTimePoint},
                                    start_time_point=#{startTimePoint},complete_time_point=#{completeTimePoint},
                                    dosage=#{dosage},dosage_units=#{dosageUnits},all_dosage=#{allDosage},
                                    repeat_indicator=#{repeatIndicator},use_mode=#{useMode},class_type=#{classType},
                                    frequency=#{frequency},perform_speed=#{performSpeed},speed_units=#{speedUnits},
                                    nurse_code=#{nurseCode},order_status=#{orderStatus},remark=#{remark},
                                    create_time=#{createTime},update_time=#{updateTime},is_sync=#{isSync},
                                    order_exec_num=#{orderExecNum},sync_num=#{syncNum},recent_sync_time=#{recentSyncTime}</sql>

    <insert id="insert">
        insert into
        table_med_order_exec(<include refid="medOrderExec_colums"></include>)
        values (<include refid="medOrderExec_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.MedOrderExec" >
        update
        table_med_order_exec
        set <include refid="medOrderExec_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="medOrderExecMap" parameterType="java.lang.String">
        select
          <include refid="medOrderExec_colums"></include>
        from
        table_med_order_exec
        where
          id=#{id}
    </select>

    <select id="queryList" resultMap="medOrderExecMap" parameterType="java.util.Map">
        select
          <include refid="medOrderExec_colums"></include>
        from
        table_med_order_exec
        where
          1=1
        <if test="startTime != null and startTime != ''">
            and   date_format(default_time_point,'%Y%m%d') between date_format(#{startTime},'%Y%m%d')
            and date_format(#{endTime},'%Y%m%d')
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo}
        </if>
        <if test="orderStatus != null and orderStatus != 5">
            and  order_status= #{orderStatus}
        </if>
        <if test="isSync != null and isSync != 5">
            and  is_sync= #{isSync}
        </if>
        <if test="drugType != null and drugType != 5">
            and  drug_type= #{drugType}
        </if>
        <if test="repeatIndicator != null and repeatIndicator != 5">
            and  repeat_indicator= #{repeatIndicator}
        </if>
        <if test="patientId != null and patientId !=''">
            and  patient_id= #{patientId}
        </if>
        ORDER BY order_no,remark DESC
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_med_order_exec
        where
        1=1
        <if test="startTime != null and startTime != ''">
            and   date_format(default_time_point,'%Y%m%d') between date_format(#{startTime},'%Y%m%d')
            and date_format(#{endTime},'%Y%m%d')
        </if>
        <if test="orderNo != null and orderNo != ''">
            and order_no = #{orderNo}
        </if>
        <if test="orderStatus != null and orderStatus != 5">
            and  order_status= #{orderStatus}
        </if>
        <if test="isSync != null and isSync != 5">
            and  is_sync= #{isSync}
        </if>
        <if test="drugType != null and drugType != 5">
            and  drug_type= #{drugType}
        </if>
        <if test="repeatIndicator != null and repeatIndicator != 5">
            and  repeat_indicator= #{repeatIndicator}
        </if>
        <if test="patientId != null and patientId !=''">
            and  patient_id= #{patientId}
        </if>
    </select>

    <select id="queryMedOrderExecList" resultMap="medOrderExecMap">
        select
        <include refid="medOrderExec_colums"></include>
        from
        table_med_order_exec
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            tmoc.id AS id,
            IFNULL(tmoc.visit_id,"") AS visitId,
            IFNULL(tmoc.visit_code,"") AS visitCode,
            IFNULL(tmoc.patient_id,"") AS patientId,
            IFNULL(tmoc.order_code,"") AS orderCode,
            IFNULL(tmoc.order_no,"") AS orderNo,
            IFNULL(tmoc.order_sub_no,"") AS orderSubNo,
            IFNULL(tmoc.order_name,"") AS orderName,
            IFNULL(tmoc.specs,"") AS specs,
            tmoc.drug_type AS drugType,
            IFNULL(tmoc.order_attr,"") AS orderAttr,
            IFNULL(date_format(tmoc.default_time_point, '%Y-%m-%d %H:%i:%s'),"") AS defaultTimePoint,
            IFNULL(dcia.common_item_name,"") AS useMode,
            IFNULL(date_format(tmoc.start_time_point, '%Y-%m-%d %H:%i:%s'),"") AS startTimePoint,
            IFNULL(date_format(tmoc.complete_time_point, '%Y-%m-%d %H:%i:%s'),"") AS completeTimePoint,
            IFNULL(tmoc.dosage,"") AS dosage,
            IFNULL(tmoc.dosage_units,"") AS dosageUnits,
            IFNULL(tmoc.all_dosage,"") AS allDosage,
            tmoc.repeat_indicator AS repeatIndicator,
            IFNULL(tmoc.class_type,"") AS classType,
            IFNULL(tmoc.frequency,"") AS frequency,
            IFNULL(tmoc.perform_speed,"") AS performSpeed,
            IFNULL(tmoc.speed_units,"") AS speedUnits,
            IFNULL(ts.user_name,"") AS nurseCode,
            tmoc.order_status AS orderStatus,
            IFNULL(tmoc.remark,"") AS remark,
            IFNULL(date_format(tmoc.create_time, '%Y-%m-%d %H:%i:%s'),"") AS createTime,
            IFNULL(date_format(tmoc.update_time, '%Y-%m-%d %H:%i:%s'),"") AS updateTime,
            tmoc.is_sync AS isSync,
            tmoc.order_exec_num AS orderExecNum,
            tmoc.sync_num AS syncNum,
            IFNULL(date_format(tmoc.recent_sync_time, '%Y-%m-%d %H:%i:%s'),"") AS recentSyncTime
        FROM
        table_med_order_exec tmoc
        LEFT JOIN dict_common_item dcia ON dcia.common_item_code = tmoc.use_mode AND dcia.type='use_mode'
        LEFT JOIN table_user ts ON ts.login_name=tmoc.nurse_code
        where
        1=1
        <if test="startTime != null and startTime != ''">
            and   date_format(tmoc.default_time_point,'%Y%m%d') between date_format(#{startTime},'%Y%m%d')
            and date_format(#{endTime},'%Y%m%d')
        </if>
        <if test="orderNo != null and orderNo != ''">
            and tmoc.order_no = #{orderNo}
        </if>
        <if test="orderStatus != null and orderStatus != 5">
            and  tmoc.order_status= #{orderStatus}
        </if>
        <if test="isSync != null and isSync != 5">
            and  tmoc.is_sync= #{isSync}
        </if>
        <if test="drugType != null and drugType != 5">
            and  tmoc.drug_type= #{drugType}
        </if>
        <if test="repeatIndicator != null and repeatIndicator != 5">
            and  tmoc.repeat_indicator= #{repeatIndicator}
        </if>
        <if test="patientId != null and patientId !=''">
            and  tmoc.patient_id= #{patientId}
        </if>
        ORDER BY tmoc.order_no,tmoc.remark DESC
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="getNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
          count(tmoc.id)
        FROM
        table_med_order_exec tmoc
        LEFT JOIN dict_common_item dcia ON dcia.common_item_code = tmoc.use_mode AND dcia.type='use_mode'
        LEFT JOIN table_user ts ON ts.login_name=tmoc.nurse_code
        where
        1=1
        <if test="startTime != null and startTime != ''">
            and   date_format(tmoc.default_time_point,'%Y%m%d') between date_format(#{startTime},'%Y%m%d')
            and date_format(#{endTime},'%Y%m%d')
        </if>
        <if test="orderNo != null and orderNo != ''">
            and tmoc.order_no = #{orderNo}
        </if>
        <if test="orderStatus != null and orderStatus != 5">
            and  tmoc.order_status= #{orderStatus}
        </if>
        <if test="isSync != null and isSync != 5">
            and  tmoc.is_sync= #{isSync}
        </if>
        <if test="drugType != null and drugType != 5">
            and  tmoc.drug_type= #{drugType}
        </if>
        <if test="repeatIndicator != null and repeatIndicator != 5">
            and  tmoc.repeat_indicator= #{repeatIndicator}
        </if>
        <if test="patientId != null and patientId !=''">
            and  tmoc.patient_id= #{patientId}
        </if>
    </select>

</mapper>
