<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.OutputAmountDao">

    <resultMap id="outputAmountMap" type="com.jyxd.web.data.basic.OutputAmount">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" jdbcType="DATE"/>
        <result column="output_type" property="outputType" jdbcType="VARCHAR"/>
        <result column="output_name" property="outputName" jdbcType="VARCHAR"/>
        <result column="dosage" property="dosage" jdbcType="VARCHAR"/>
        <result column="dosage_units" property="dosageUnits" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="check_signature" property="checkSignature" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="outputAmount_colums">id,visit_id,visit_code,patient_id,data_time,output_type,output_name,
                                dosage,dosage_units,speed,create_time,operator_code,status,check_signature</sql>

    <sql id="outputAmount_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{outputType},#{outputName},
                                    #{dosage},#{dosageUnits},#{speed},#{createTime},#{operatorCode},#{status},#{checkSignature}</sql>

    <sql id="outputAmount_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},data_time=#{dataTime},output_type=#{outputType},
                              output_name=#{outputName},dosage=#{dosage},dosage_units=#{dosageUnits},speed=#{speed},
                              create_time=#{createTime},operator_code=#{operatorCode},status=#{status},check_signature=#{checkSignature}</sql>

    <insert id="insert">
        insert into
        table_output_amount(<include refid="outputAmount_colums"></include>)
        values (<include refid="outputAmount_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.OutputAmount" >
        update
        table_output_amount
        set <include refid="outputAmount_update"></include>
        where
        id=#{id}
    </update>

    <select id="queryData" resultMap="outputAmountMap" parameterType="java.lang.String">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where
        id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        from
        table_output_amount
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getListByTime" resultType="java.util.Map">
        SELECT
            IFNULL(dd.visit_id,"") AS visit_id,
            IFNULL(dd.name,"") AS name,
            IFNULL(dd.visit_code,"") AS visit_code,
            IFNULL(dd.int_id,"") AS int_id,
            IFNULL(dd.bed_code,"") AS bed_code,
            SUM(IFNULL(CASE WHEN
            dd.output_name='大便次数'
            THEN
            dd.dosage
            END,""))
             AS dabian,
            SUM(IFNULL(CASE WHEN
            dd.output_name='尿量'
            THEN
            dd.dosage
            END,""))
             AS niaoliang,
            SUM(IFNULL(CASE WHEN
            dd.order_type='液体入量'
            THEN
            dd.dosage
            END,""))
             AS yeti
         FROM(
        SELECT
           pp.visit_id,pp.name,pp.visit_code,pp.int_id,pp.bed_code,toa.output_name,toa.dosage,"" order_type,pp.status,pp.flag
         FROM p_patient pp LEFT JOIN table_output_amount toa ON pp.int_id=toa.patient_id
        <if test="time != null and time != ''">
            AND date_format(
            toa.data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{time},
            '%Y%m%d %H%i'
            )
        </if>
        union all
        SELECT
           pp.visit_id,pp.name,pp.visit_code,pp.int_id,pp.bed_code,"" output_name,tia.dosage ,tia.order_type,pp.status,pp.flag
         FROM p_patient pp LEFT JOIN table_input_amount tia ON pp.int_id=tia.patient_id
        <if test="time != null and time != ''">
            AND date_format(
            tia.data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{time},
            '%Y%m%d %H%i'
            )
        </if>) dd
        WHERE 1=1 AND dd.status!=-1 AND dd.flag=1
        GROUP BY dd.int_id,dd.visit_id,dd.visit_code,dd.name,dd.bed_code
    </select>

    <select id="queryDataByTime" resultMap="outputAmountMap" parameterType="java.lang.String">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where 1=1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="id != null and id != ''">
            and  id=#{id}
        </if>
        <if test="outputName != null and outputName != ''">
            and  output_name=#{outputName}
        </if>
        <if test="dataTime != null and dataTime != ''">
            and  date_format(
            data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{dataTime},
            '%Y%m%d %H%i'
            )
        </if>
    </select>

    <select id="getPatientOutputList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(toa.id, "") AS id,
            IFNULL(
            date_format(toa.data_time, '%Y-%m-%d'),
            ""
            ) AS date,
            IFNULL(
            date_format(toa.data_time, '%H:%i'),
            ""
            ) AS time,
            IFNULL(sp.sys_key, "") AS type,
            IFNULL(toa.dosage, "") AS dosage,
            IFNULL(tu.user_name, "") AS name
        FROM
        table_output_amount toa
        LEFT JOIN table_user tu ON tu.login_name = toa.check_signature
        LEFT JOIN sys_properties sp ON sp.sys_value = toa.output_type
        WHERE
          toa.status != - 1
        <if test="status != null ">
            and toa.status= #{status}
        </if>
        <if test="patientId != null and patientId != ''">
            AND toa.patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(toa.data_time, '%Y-%m-%d')=#{dataTime}
        </if>
    </select>

    <!-- 根据病人id查询病人在某个时间段的出量汇总信息 -->
    <select id="getOutAmount" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(sum(dosage),0)  AS 'total',
        IFNULL(sum(CASE WHEN output_type='001' THEN dosage END),0)  AS '001',
        IFNULL(sum(CASE WHEN output_type='002' THEN dosage END),0)  AS '002',
        IFNULL(sum(CASE WHEN output_type='003' THEN dosage END),0)  AS '003',
        IFNULL(sum(CASE WHEN output_type='004' THEN dosage END),0)  AS '004',
        IFNULL(sum(CASE WHEN output_type='005' THEN dosage END),0)  AS '005',
        IFNULL(sum(CASE WHEN output_type='006' THEN dosage END),0)  AS '006',
        IFNULL(sum(CASE WHEN output_type='007' THEN dosage END),0)  AS '007',
        IFNULL(sum(CASE WHEN output_type='008' THEN dosage END),0)  AS '008',
        IFNULL(sum(CASE WHEN output_type='009' THEN dosage END),0)  AS '009',
        IFNULL(sum(CASE WHEN output_type='010' THEN dosage END),0)  AS '010',
        IFNULL(sum(CASE WHEN output_type='011' THEN dosage END),0)  AS '011',
        IFNULL(sum(CASE WHEN output_type='012' THEN dosage END),0)  AS '012',
        IFNULL(sum(CASE WHEN output_type='013' THEN dosage END),0)  AS '013',
        IFNULL(sum(CASE WHEN output_type='014' THEN dosage END),0)  AS '014',
        IFNULL(sum(CASE WHEN output_type='015' THEN dosage END),0)  AS '015',
        IFNULL(sum(CASE WHEN output_type='016' THEN dosage END),0)  AS '016',
        IFNULL(sum(CASE WHEN output_type='017' THEN dosage END),0)  AS '017',
        IFNULL(sum(CASE WHEN output_type='018' THEN dosage END),0)  AS '018',
        IFNULL(sum(CASE WHEN output_type='019' THEN dosage END),0)  AS '019',
        IFNULL(sum(CASE WHEN output_type='020' THEN dosage END),0)  AS '020',
        IFNULL(sum(CASE WHEN output_type='021' THEN dosage END),0)  AS '021',
        IFNULL(sum(CASE WHEN output_type='022' THEN dosage END),0)  AS '022',
        IFNULL(sum(CASE WHEN output_type='023' THEN dosage END),0)  AS '023',
        IFNULL(sum(CASE WHEN output_type='024' THEN dosage END),0)  AS '024',
        IFNULL(sum(CASE WHEN output_type='025' THEN dosage END),0)  AS '025',
        IFNULL(sum(CASE WHEN output_type='026' THEN dosage END),0)  AS '026',
        IFNULL(sum(CASE WHEN output_type='027' THEN dosage END),0)  AS '027',
        IFNULL(sum(CASE WHEN output_type='028' THEN dosage END),0)  AS '028',
        IFNULL(sum(CASE WHEN output_type='029' THEN dosage END),0)  AS '029',
        IFNULL(sum(CASE WHEN output_type='030' THEN dosage END),0)  AS '030',
        IFNULL(sum(CASE WHEN output_type='031' THEN dosage END),0)  AS '031',
        IFNULL(sum(CASE WHEN output_type='032' THEN dosage END),0)  AS '032',
        IFNULL(sum(CASE WHEN output_type='033' THEN dosage END),0)  AS '033',
        IFNULL(sum(CASE WHEN output_type='034' THEN dosage END),0)  AS '034',
        IFNULL(sum(CASE WHEN output_type='035' THEN dosage END),0)  AS '035',
        IFNULL(sum(CASE WHEN output_type='036' THEN dosage END),0)  AS '036',
        IFNULL(sum(CASE WHEN output_type='037' THEN dosage END),0)  AS '037',
        IFNULL(sum(CASE WHEN output_type='038' THEN dosage END),0)  AS '038',
        IFNULL(sum(CASE WHEN output_type='039' THEN dosage END),0)  AS '039',
        IFNULL(sum(CASE WHEN output_type='040' THEN dosage END),0)  AS '040',
        IFNULL(sum(CASE WHEN output_type='041' THEN dosage END),0)  AS '041',
        IFNULL(sum(CASE WHEN output_type='042' THEN dosage END),0)  AS '042',
        IFNULL(sum(CASE WHEN output_type='043' THEN dosage END),0)  AS '043',
        IFNULL(sum(CASE WHEN output_type='044' THEN dosage END),0)  AS '044',
        IFNULL(sum(CASE WHEN output_type='045' THEN dosage END),0)  AS '045',
        IFNULL(sum(CASE WHEN output_type='046' THEN dosage END),0)  AS '046',
        IFNULL(sum(CASE WHEN output_type='047' THEN dosage END),0)  AS '047',
        IFNULL(sum(CASE WHEN output_type='048' THEN dosage END),0)  AS '048',
        IFNULL(sum(CASE WHEN output_type='049' THEN dosage END),0)  AS '049',
        IFNULL(sum(CASE WHEN output_type='050' THEN dosage END),0)  AS '050',
        IFNULL(sum(CASE WHEN output_type='051' THEN dosage END),0)  AS '051'
        FROM
        table_output_amount
        WHERE
        1 = 1
        AND status != - 1
        AND status= #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 查询病人某段时间内的出量总数 -->
    <select id="getOutTotal" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT
        IFNULL(SUM(dosage),0)
        FROM
        table_output_amount
        WHERE
        1 = 1
        AND status != - 1
        AND status= #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 查询病人某段时间内各个出量类型的入量总数 -->
    <select id="getOutAnalyze" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(SUM(tia.dosage),0) AS dosage,
        dci.common_item_name AS name
        FROM
        table_output_amount tia  LEFT JOIN dict_common_item dci ON dci.common_item_code = tia.output_type AND dci.type='intake'
        WHERE
        1 = 1
        and tia.status!=-1
        AND (tia.output_type!=NULL || tia.output_type!='')
        AND (dci.common_item_name !=null || dci.common_item_name !='')
        AND tia.status= #{status}
        AND tia.patient_id = #{patientId}
        AND date_format(tia.data_time, '%Y-%m-%d %H:%i:%s') BETWEEN #{startTime} AND #{endTime}
        GROUP BY tia.output_type
    </select>

    <select id="getNewPatientOutputList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(toa.id, "") AS out_id,
        IFNULL(
        date_format(toa.data_time, '%Y-%m-%d'),
        ""
        ) AS out_date,
        IFNULL(
        date_format(toa.data_time, '%H:%i'),
        ""
        ) AS out_time,
        IFNULL(sp.sys_key, "") AS out_type,
        IFNULL(toa.dosage, "") AS out_dosage,
        IFNULL(tu.user_name, "") AS out_name
        FROM
        table_output_amount toa
        LEFT JOIN table_user tu ON tu.login_name = toa.check_signature
        LEFT JOIN sys_properties sp ON sp.sys_value = toa.output_type
        WHERE
        toa.status != - 1
        <if test="status != null ">
            and toa.status= #{status}
        </if>
        <if test="patientId != null and patientId != ''">
            AND toa.patient_id = #{patientId}
        </if>
    </select>

    <select id="test" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
	IFNULL(toa.visit_id,"") as visit_id,
	IFNULL(toa.visit_code,"") as visit_code,
	IFNULL(toa.patient_id,"") as patient_id,
	IFNULL(toa.piss,"") as piss,
	IFNULL(toa.faces,"") as faces,
	IFNULL(toa.drainage,"") as drainage,
	IFNULL(date_format(toa.data_time, '%Y-%m-%d %H:%i:%s'),"") as data_time,
    <foreach collection="list" item="customField" index="index" open="" separator="," close="">
        IFNULL(tuc.${customField.filedCode},"") as #{customField.filedName}
    </foreach>

        FROM
	table_output_amount toa
LEFT JOIN table_custom_content tco ON tco.patient_id=toa.patient_id AND date_format(toa.data_time, '%Y-%m-%d %H:%i:%s')=date_format(tco.data_time, '%Y-%m-%d %H:%i:%s')
left join table_custom_content tuc on tuc.patient_id=toa.patient_id AND date_format(toa.data_time, '%Y-%m-%d %H:%i:%s')=date_format(tuc.data_time, '%Y-%m-%d %H:%i:%s')
WHERE
	toa.patient_id = '5aec44cbd0df4a089d16c6eb54f753d5'

    </select>
</mapper>
