<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.PrimaryCareDao">

    <resultMap id="primaryCareMap" type="com.jyxd.web.data.basic.PrimaryCare">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" jdbcType="DATE"/>
        <result column="strength_left_top" property="strengthLeftTop" jdbcType="VARCHAR"/>
        <result column="strength_left_down" property="strengthLeftDown" jdbcType="VARCHAR"/>
        <result column="strength_right_top" property="strengthRightTop" jdbcType="VARCHAR"/>
        <result column="strength_right_down" property="strengthRightDown" jdbcType="VARCHAR"/>
        <result column="oral" property="oral" jdbcType="VARCHAR"/>
        <result column="urethral" property="urethral" jdbcType="VARCHAR"/>
        <result column="roll_over" property="rollOver" jdbcType="VARCHAR"/>
        <result column="take_back" property="takeBack" jdbcType="VARCHAR"/>
        <result column="massage" property="massage" jdbcType="VARCHAR"/>
        <result column="nasal_feeding" property="nasalFeeding" jdbcType="VARCHAR"/>
        <result column="wet_phlegm" property="wetPhlegm" jdbcType="VARCHAR"/>
        <result column="phlegm_character" property="phlegmCharacter" jdbcType="VARCHAR"/>
        <result column="row_character" property="rowCharacter" jdbcType="VARCHAR"/>
        <result column="atomization_inhalation" property="atomizationInhalation" jdbcType="VARCHAR"/>
        <result column="blanket_ice_cap" property="blanketIceCap" jdbcType="VARCHAR"/>
        <result column="skin" property="skin" jdbcType="VARCHAR"/>
        <result column="lower_limbs_cure" property="lowerLimbsCure" jdbcType="VARCHAR"/>
        <result column="tube_length" property="tubeLength" jdbcType="VARCHAR"/>
        <result column="tube_unobstructed" property="tubeUnobstructed" jdbcType="VARCHAR"/>
        <result column="urine_tube" property="urineTube" jdbcType="VARCHAR"/>
        <result column="drainage_tube_one" property="drainageTubeOne" jdbcType="VARCHAR"/>
        <result column="drainage_tube_two" property="drainageTubeTwo" jdbcType="VARCHAR"/>
        <result column="drainage_tube_three" property="drainageTubeThree" jdbcType="VARCHAR"/>
        <result column="drainage_tube_four" property="drainageTubeFour" jdbcType="VARCHAR"/>
        <result column="drainage_tube_five" property="drainageTubeFive" jdbcType="VARCHAR"/>
        <result column="drainage_tube_six" property="drainageTubeSix" jdbcType="VARCHAR"/>
        <result column="risk_assessment_one" property="riskAssessmentOne" jdbcType="VARCHAR"/>
        <result column="risk_assessment_two" property="riskAssessmentTwo" jdbcType="VARCHAR"/>
        <result column="risk_assessment_three" property="riskAssessmentThree" jdbcType="VARCHAR"/>
        <result column="risk_assessment_four" property="riskAssessmentFour" jdbcType="VARCHAR"/>
        <result column="risk_assessment_five" property="riskAssessmentFive" jdbcType="VARCHAR"/>
        <result column="risk_assessment_six" property="riskAssessmentSix" jdbcType="VARCHAR"/>
        <result column="risk_assessment_seven" property="riskAssessmentSeven" jdbcType="VARCHAR"/>
        <result column="signature" property="signature" jdbcType="VARCHAR"/>
        <result column="signature_again" property="signatureAgain" jdbcType="VARCHAR"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="primaryCare_colums">id,visit_id,visit_code,patient_id,data_time,strength_left_top,strength_left_down,strength_right_top,
                                   strength_right_down,oral,urethral,roll_over,take_back,massage,nasal_feeding,wet_phlegm,phlegm_character,
                                   row_character,atomization_inhalation,blanket_ice_cap,skin,lower_limbs_cure,tube_length,tube_unobstructed,
                                   urine_tube,drainage_tube_one,drainage_tube_two,drainage_tube_three,drainage_tube_four,drainage_tube_five,
                                   drainage_tube_six,risk_assessment_one,risk_assessment_two,risk_assessment_three,risk_assessment_four,
                                   risk_assessment_five,risk_assessment_six,risk_assessment_seven,signature,signature_again,operator_code,
                                   status,create_time</sql>

    <sql id="primaryCare_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{strengthLeftTop},#{strengthLeftDown},
                                    #{strengthRightTop},#{strengthRightDown},#{oral},#{urethral},#{rollOver},#{takeBack},#{massage},
                                     #{nasalFeeding},#{wetPhlegm},#{phlegmCharacter},#{rowCharacter},#{atomizationInhalation},
                                     #{blanketIceCap},#{skin},#{lowerLimbsCure},#{tubeLength},#{tubeUnobstructed},#{urineTube},
                                     #{drainageTubeOne},#{drainageTubeTwo},#{drainageTubeThree},#{drainageTubeFour},#{drainageTubeFive},
                                     #{drainageTubeSix},#{riskAssessmentOne},#{riskAssessmentTwo},#{riskAssessmentThree},#{riskAssessmentFour},
                                     #{riskAssessmentFive},#{riskAssessmentSix},#{riskAssessmentSeven},#{signature},#{signatureAgain},
                                     #{operatorCode},#{status},#{createTime}</sql>

    <sql id="primaryCare_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},data_time=#{dataTime},
                              strength_left_top=#{strengthLeftTop},strength_left_down=#{strengthLeftDown},strength_right_top=#{strengthRightTop},
                              strength_right_down=#{strengthRightDown},oral=#{oral},urethral=#{urethral},roll_over=#{rollOver},take_back=#{takeBack},
                              massage=#{massage},nasal_feeding=#{nasalFeeding},wet_phlegm=#{wetPhlegm},phlegm_character=#{phlegmCharacter},
                              row_character=#{rowCharacter},atomization_inhalation=#{atomizationInhalation},blanket_ice_cap=#{blanketIceCap},
                              skin=#{skin},lower_limbs_cure=#{lowerLimbsCure},tube_length=#{tubeLength},tube_unobstructed=#{tubeUnobstructed},
                              urine_tube=#{urineTube},drainage_tube_one=#{drainageTubeOne},drainage_tube_two=#{drainageTubeTwo},
                              drainage_tube_three=#{drainageTubeThree},drainage_tube_four=#{drainageTubeFour},drainage_tube_five=#{drainageTubeFive},
                              drainage_tube_six=#{drainageTubeSix},risk_assessment_one=#{riskAssessmentOne},risk_assessment_two=#{riskAssessmentTwo},
                              risk_assessment_three=#{riskAssessmentThree},risk_assessment_four=#{riskAssessmentFour},risk_assessment_five=#{riskAssessmentFive},
                              risk_assessment_six=#{riskAssessmentSix},risk_assessment_seven=#{riskAssessmentSeven},signature=#{signature},
                              signature_again=#{signatureAgain},operator_code=#{operatorCode},status=#{status},create_time=#{createTime}</sql>

    <insert id="insert">
        insert into
        table_primary_care(<include refid="primaryCare_colums"></include>)
        values (<include refid="primaryCare_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.PrimaryCare">
        update
        table_primary_care
        set
        <include refid="primaryCare_update"></include>
        where
        id=#{id}
    </update>

    <select id="queryData" resultMap="primaryCareMap" parameterType="java.lang.String">
        select
        <include refid="primaryCare_colums"></include>
        from
        table_primary_care
        where
        id=#{id}
    </select>

    <select id="queryList" resultMap="primaryCareMap">
        select
        <include refid="primaryCare_colums"></include>
        from
        table_primary_care
        where
        1=1
        and status != -1
        <if test="patientId != null and patientId != ''">
            AND patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(tioa.data_time, '%Y-%m-%d')=#{dataTime}
        </if>
        <if test="status != null ">
            and status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        from
        table_primary_care
        where
        1=1
        and status != -1
        <if test="patientId != null and patientId != ''">
            AND patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(tioa.data_time, '%Y-%m-%d')=#{dataTime}
        </if>
        <if test="status != null ">
            and status= #{status}
        </if>
    </select>

    <select id="getPrimaryCareNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(tioa.id)
        FROM
        table_primary_care tioa
        LEFT JOIN table_user tua ON tua.login_name=tioa.operator_code
        LEFT JOIN table_user tub ON tub.login_name=tioa.signature
        LEFT JOIN table_user tuc ON tuc.login_name=tioa.signature_again
        LEFT JOIN table_custom_content tco ON tco.patient_id=toa.patient_id
        AND date_format(tioa.data_time, '%Y-%m-%d %H:%i')=date_format(tco.data_time, '%Y-%m-%d %H:%i')
        AND tco.associated_table='table_primary_care'
        WHERE 1=1
        AND tioa.status!=-1
        <if test="status != null ">
            AND tioa.status= #{status}
        </if>
        <if test="patientId != null and patientId != ''">
            AND tioa.patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(tioa.data_time, '%Y-%m-%d')=#{dataTime}
        </if>
        <if test="startTime != null and startTime != ''">
            AND tioa.data_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND tioa.data_time <![CDATA[ < ]]> #{endTime}
        </if>
    </select>

    <select id="getPrimaryCareList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        IFNULL(tioa.id,"") as id,
        IFNULL(tioa.visit_id,"") as visit_id,
        IFNULL(tioa.visit_code,"") as visit_code,
        IFNULL(tioa.patient_id,"") as patient_id,
        IFNULL(tioa.strength_left_top,"") as strength_left_top,
        IFNULL(tioa.strength_left_down,"") as strength_left_down,
        IFNULL(tioa.strength_right_top,"") as strength_right_top,
        IFNULL(tioa.strength_right_down,"") as strength_right_down,
        IFNULL(tioa.oral,"") as oral,
        IFNULL(tioa.urethral,"") as urethral,
        IFNULL(tioa.roll_over,"") as roll_over,
        IFNULL(tioa.take_back,"") as take_back,
        IFNULL(tioa.massage,"") as massage,
        IFNULL(tioa.nasal_feeding,"") as nasal_feeding,
        IFNULL(tioa.wet_phlegm,"") as wet_phlegm,
        IFNULL(tioa.phlegm_character,"") as phlegm_character,
        IFNULL(tioa.row_character,"") as row_character,
        IFNULL(tioa.atomization_inhalation,"") as atomization_inhalation,
        IFNULL(tioa.blanket_ice_cap,"") as blanket_ice_cap,
        IFNULL(tioa.skin,"") as skin,
        IFNULL(tioa.lower_limbs_cure,"") as lower_limbs_cure,
        IFNULL(tioa.tube_length,"") as tube_length,
        IFNULL(tioa.tube_unobstructed,"") as tube_unobstructed,
        IFNULL(tioa.urine_tube,"") as urine_tube,
        IFNULL(tioa.drainage_tube_one,"") as drainage_tube_one,
        IFNULL(tioa.drainage_tube_two,"") as drainage_tube_two,
        IFNULL(tioa.drainage_tube_three,"") as drainage_tube_three,
        IFNULL(tioa.drainage_tube_four,"") as drainage_tube_four,
        IFNULL(tioa.drainage_tube_five,"") as drainage_tube_five,
        IFNULL(tioa.drainage_tube_six,"") as drainage_tube_six,
        IFNULL(tioa.signature,"") as signature,
        IFNULL(tioa.risk_assessment_one,"") as risk_assessment_one,
        IFNULL(tioa.risk_assessment_two,"") as risk_assessment_two,
        IFNULL(tioa.risk_assessment_three,"") as risk_assessment_three,
        IFNULL(tioa.risk_assessment_four,"") as risk_assessment_four,
        IFNULL(tioa.risk_assessment_five,"") as risk_assessment_five,
        IFNULL(tioa.risk_assessment_six,"") as risk_assessment_six,
        IFNULL(tioa.risk_assessment_seven,"") as risk_assessment_seven,
        IFNULL(date_format(tioa.data_time, '%Y-%m-%d'),"") as data_date,
        IFNULL(date_format(tioa.data_time, '%H:%i'),"") as data_time,
        IFNULL(date_format(tioa.create_time, '%Y-%m-%d %H:%i:%s'),"") as create_time,
        IFNULL(tua.user_name,"") as operator_code,
        IFNULL(tub.user_name,"") as signature,
        IFNULL(tuc.user_name,"") as signature_again,
        tioa.status as status,
        IFNULL(tco.content_one,"") as content_one,
        IFNULL(tco.content_two,"") as content_two,
        IFNULL(tco.content_three,"") as content_three,
        IFNULL(tco.content_four,"") as content_four,
        IFNULL(tco.content_five,"") as content_five,
        IFNULL(tco.content_six,"") as content_six,
        IFNULL(tco.content_seven,"") as content_seven,
        IFNULL(tco.content_eight,"") as content_eight,
        IFNULL(tco.content_nine,"") as content_nine,
        IFNULL(tco.content_ten,"") as content_ten
        FROM
        table_primary_care tioa
        LEFT JOIN table_user tua ON tua.login_name=tioa.operator_code
        LEFT JOIN table_user tub ON tub.login_name=tioa.signature
        LEFT JOIN table_user tuc ON tuc.login_name=tioa.signature_again
        LEFT JOIN table_custom_content tco ON tco.patient_id=tioa.patient_id
        AND date_format(tioa.data_time, '%Y-%m-%d %H:%i')=date_format(tco.data_time, '%Y-%m-%d %H:%i')
        AND tco.associated_table='table_primary_care'
        WHERE 1=1
        AND tioa.status!=-1
        <if test="status != null ">
            AND tioa.status= #{status}
        </if>
        <if test="patientId != null and patientId != ''">
            AND tioa.patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(tioa.data_time, '%Y-%m-%d')=#{dataTime}
        </if>
        <if test="startTime != null and startTime != ''">
            AND tioa.data_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND tioa.data_time <![CDATA[ < ]]> #{endTime}
        </if>
        order by tioa.data_time
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

</mapper>
