<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.QuartzTimeDao">

    <resultMap id="quartzTimeMap" type="com.jyxd.web.data.basic.QuartzTime">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="quartztask_id" property="quartzTaskId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="DATE"/>
        <result column="end_time" property="endTime" jdbcType="DATE"/>
        <result column="next_time" property="nextTime" jdbcType="DATE"/>
        <result column="time_length" property="timeLength" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="quartzTime_colums">id,quartztask_id,start_time,end_time,next_time,time_length,status</sql>

    <sql id="quartzTime_propertys">#{id},#{quartzTaskId},#{startTime},#{endTime},#{nextTime},#{timeLength},#{status}</sql>

    <sql id="quartzTime_update">quartztask_id=#{quartzTaskId},start_time=#{startTime},end_time=#{endTime},
                              next_time=#{nextTime},time_length=#{timeLength},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_quartz_time(<include refid="quartzTime_colums"></include>)
        values (<include refid="quartzTime_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.QuartzTime" >
        update
        table_quartz_time
        set <include refid="quartzTime_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="quartzTimeMap" parameterType="java.lang.String">
        select
          <include refid="quartzTime_colums"></include>
        from
        table_quartz_time
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="quartzTime_colums"></include>
        from
        table_quartz_time
        where
          1=1
        and  status != -1
        <if test="quartzTaskId != null and quartzTaskId != ''">
            and  quartztask_id =#{quartzTaskId}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        order by start_time desc
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_quartz_time
        where
        1=1
        and  status != -1
        <if test="quartzTaskId != null and quartzTaskId != ''">
            and  quartztask_id =#{quartzTaskId}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

</mapper>
