<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.VitalSignDao">

    <resultMap id="vitalSignMap" type="com.jyxd.web.data.basic.VitalSign">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" />
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="vitalSign_colums">id,visit_id,visit_code,patient_id,data_time,code,content,create_time,operator_code,status,update_time</sql>

    <sql id="vitalSign_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{code},
                                  #{content},#{createTime},#{operatorCode},#{status},#{updateTime}</sql>

    <sql id="vitalSign_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                              data_time=#{dataTime},code=#{code},content=#{content},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status},update_time=#{updateTime}</sql>

    <insert id="insert">
        insert into
        table_vital_sign(<include refid="vitalSign_colums"></include>)
        values (<include refid="vitalSign_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.VitalSign" >
        update
        table_vital_sign
        set <include refid="vitalSign_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="vitalSignMap" parameterType="java.lang.String">
        select
          <include refid="vitalSign_colums"></include>
        from
        table_vital_sign
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="vitalSign_colums"></include>
        from
        table_vital_sign
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_vital_sign
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <!-- 根据时间和code和病人主键id查询对象-->
    <select id="queryDataByTimeAndCode" resultMap="vitalSignMap" parameterType="java.util.Map">
        SELECT
        <include refid="vitalSign_colums"></include>
        FROM
            table_vital_sign
        WHERE
            1 = 1
        AND status !=- 1
        <if test="code != null and code != ''">
            AND code = #{code}
        </if>
        <if test="patientId != null and patientId != ''">
            AND patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(
            data_time,
            '%Y-%m-%d %H:%i:%s'
            ) = date_format(
            #{dataTime},
            '%Y-%m-%d %H:%i:%s'
            )
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <!-- 根据时间和病人主键id查询对象列表 -->
    <select id="queryListByTime" resultMap="vitalSignMap" parameterType="java.util.Map">
        select
        <include refid="vitalSign_colums"></include>
        from
        table_vital_sign
        where
        1=1
        and status !=-1
        <if test="patientId != null and patientId != ''">
            AND patient_id = #{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            AND date_format(
            data_time,
            '%Y-%m-%d %H:%i:%s'
            ) = date_format(
            #{dataTime},
            '%Y-%m-%d %H:%i:%s'
            )
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <!-- 根据病人主键id查询生命体征列表 -->
    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(tvs.patient_id,"") AS patient_id,
            date_format(tvs.data_time, '%Y-%m-%d') AS date,
            date_format(tvs.data_time, '%H:%i') AS time,
            IFNULL(max(CASE WHEN tvs.code='consciousness' THEN dcia.common_item_name END),"")  AS consciousness,
            IFNULL(max(CASE WHEN tvs.code='pupilLeft' THEN dcib.common_item_name END),"") AS pupilLeft,
            IFNULL(max(CASE WHEN tvs.code='pupilRight' THEN dcic.common_item_name END),"") AS pupilRight,
            IFNULL(max(CASE WHEN tvs.code='lightReflectionLeft' THEN dcid.common_item_name END),"") AS lightReflectionLeft,
            IFNULL(max(CASE WHEN tvs.code='lightReflectionRight' THEN dcie.common_item_name END),"") AS lightReflectionRight,
            IFNULL(max(CASE WHEN tvs.code='temperature' THEN tvs.content END),"") AS temperature,
            IFNULL(max(CASE WHEN tvs.code='hr' THEN tvs.content END),"") AS hr,
            IFNULL(max(CASE WHEN tvs.code='pulse' THEN tvs.content END),"") AS pulse,
            IFNULL(max(CASE WHEN tvs.code='heartRate' THEN dcif.common_item_name END),"") AS heartRate,
            IFNULL(max(CASE WHEN tvs.code='br' THEN tvs.content END),"") AS br,
            IFNULL(max(CASE WHEN tvs.code='ibp' THEN tvs.content END),"") AS ibp,
            IFNULL(max(CASE WHEN tvs.code='bp' THEN tvs.content END),"") AS bp,
            IFNULL(max(CASE WHEN tvs.code='spo2' THEN tvs.content END),"") AS spo2,
            IFNULL(max(CASE WHEN tvs.code='cvp' THEN tvs.content END),"") AS cvp,
            IFNULL(max(CASE WHEN tvs.code='cvpmmHg' THEN tvs.content END),"") AS cvpmmHg,
            IFNULL(max(CASE WHEN tvs.code='bloodSugar' THEN tvs.content END),"") AS bloodSugar,
            IFNULL(max(CASE WHEN tvs.code='airWayStyle' THEN dcig.common_item_name END),"") AS airWayStyle,
            IFNULL(max(CASE WHEN tvs.code='airbagPressure' THEN tvs.content END),"") AS airbagPressure,
            IFNULL(max(CASE WHEN tvs.code='rsDepth' THEN tvs.content END),"") AS rsDepth,
            IFNULL(max(CASE WHEN tvs.code='rsModel' THEN dcih.common_item_name END),"") AS rsModel,
            IFNULL(max(CASE WHEN tvs.code='rsOxygen' THEN tvs.content END),"") AS rsOxygen,
            IFNULL(max(CASE WHEN tvs.code='rsMoisture' THEN tvs.content END),"") AS rsMoisture,
            IFNULL(max(CASE WHEN tvs.code='pc' THEN tvs.content END),"") AS pc,
            IFNULL(max(CASE WHEN tvs.code='rsFrequency' THEN tvs.content END),"") AS rsFrequency,
            IFNULL(max(CASE WHEN tvs.code='ps' THEN tvs.content END),"") AS ps,
            IFNULL(max(CASE WHEN tvs.code='peep' THEN tvs.content END),"") AS peep,
            IFNULL(max(CASE WHEN tvs.code='ipap' THEN tvs.content END),"") AS ipap,
            IFNULL(max(CASE WHEN tvs.code='epap' THEN tvs.content END),"") AS epap,
            IFNULL(max(CASE WHEN tvs.code='bpm' THEN tvs.content END),"") AS bpm,
            IFNULL(max(CASE WHEN tvs.code='ie' THEN tvs.content END),"") AS ie,
            IFNULL(max(CASE WHEN tvs.code='breathSoundLeft' THEN dcii.common_item_name END),"") AS breathSoundLeft,
            IFNULL(max(CASE WHEN tvs.code='breathSoundRight' THEN dcij.common_item_name END),"") AS breathSoundRight,
            IFNULL(max(CASE WHEN tvs.code='inhaleOxygenStyle' THEN dcik.common_item_name END),"") AS inhaleOxygenStyle,
            IFNULL(max(CASE WHEN tvs.code='inhaleOxygenConcentration' THEN tvs.content END),"") AS inhaleOxygenConcentration,
            IFNULL(max(CASE WHEN tvs.code='inhaleOxygenConcentration2' THEN tvs.content END),"") AS inhaleOxygenConcentration2,
            IFNULL(max(CASE WHEN tvs.code='signature' THEN tu.user_name END),"") AS signature
        FROM
            table_vital_sign tvs LEFT JOIN dict_common_item dcia ON dcia.common_item_code=tvs.content AND dcia.type='consciousness'
        LEFT JOIN dict_common_item dcib ON dcib.common_item_code=tvs.content AND dcib.type='pupil'
        LEFT JOIN dict_common_item dcic ON dcic.common_item_code=tvs.content AND dcic.type='pupil'
        LEFT JOIN dict_common_item dcid ON dcid.common_item_code=tvs.content AND dcid.type='light_reflection'
        LEFT JOIN dict_common_item dcie ON dcie.common_item_code=tvs.content AND dcie.type='light_reflection'
        LEFT JOIN dict_common_item dcif ON dcif.common_item_code=tvs.content AND dcif.type='heart_rate'
        LEFT JOIN dict_common_item dcig ON dcig.common_item_code=tvs.content AND dcig.type='air_way'
        LEFT JOIN dict_common_item dcih ON dcih.common_item_code=tvs.content AND dcih.type='rs_model'
        LEFT JOIN dict_common_item dcii ON dcii.common_item_code=tvs.content AND dcii.type='breath_sound'
        LEFT JOIN dict_common_item dcij ON dcij.common_item_code=tvs.content AND dcij.type='breath_sound'
        LEFT JOIN dict_common_item dcik ON dcik.common_item_code=tvs.content AND dcik.type='inhale_oxygen_style'
        LEFT JOIN table_user tu ON tu.login_name=tvs.content
        WHERE
            1 = 1
        AND tvs.status !=- 1
        AND tvs.patient_id=#{patientId}
        AND date_format(tvs.data_time, '%Y-%m-%d')=#{dataTime}
        GROUP BY tvs.data_time
    </select>

    <!-- 根据病人id获取某个时间段生命体征最大值 -->
    <select id="getMaxVitalSign" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(max(CASE WHEN code='temperature' THEN content END),"")  AS temperature,
            IFNULL(max(CASE WHEN code='hr' THEN content END),"")  AS hr,
            IFNULL(max(CASE WHEN code='SpO₂' THEN content END),"")  AS 'SpO₂',
            IFNULL(max(CASE WHEN code='ibp' THEN content END),"")  AS ibp,
            IFNULL(max(CASE WHEN code='bp' THEN content END),"")  AS bp,
            IFNULL(max(CASE WHEN code='cvp' THEN content END),"")  AS cvp,
            IFNULL(max(CASE WHEN code='cvpmmHg' THEN content END),"")  AS cvpmmHg
        FROM
            table_vital_sign
        WHERE
            1 = 1
        AND status !=-1
        AND status = #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 根据病人id获取某个时间段生命体征最小值 -->
    <select id="getMinVitalSign" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(min(CASE WHEN code='temperature' THEN content END),"")  AS temperature,
            IFNULL(min(CASE WHEN code='hr' THEN content END),"")  AS hr,
            IFNULL(min(CASE WHEN code='SpO₂' THEN content END),"")  AS 'SpO₂',
            IFNULL(min(CASE WHEN code='ibp' THEN content END),"")  AS ibp,
            IFNULL(min(CASE WHEN code='bp' THEN content END),"")  AS bp,
            IFNULL(min(CASE WHEN code='cvp' THEN content END),"")  AS cvp,
            IFNULL(min(CASE WHEN code='cvpmmHg' THEN content END),"")  AS cvpmmHg
        FROM
            table_vital_sign
        WHERE
            1 = 1
        AND status !=-1
        AND status = #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') BETWEEN #{startTime} AND #{endTime}
    </select>

    <!-- 根据病人id获取某个时间生命体征值 -->
    <select id="getNowVitalSign" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(min(CASE WHEN code='temperature' THEN content END),"")  AS temperature,
            IFNULL(min(CASE WHEN code='hr' THEN content END),"")  AS hr,
            IFNULL(min(CASE WHEN code='SpO₂' THEN content END),"")  AS 'SpO₂',
            IFNULL(min(CASE WHEN code='ibp' THEN content END),"")  AS ibp,
            IFNULL(min(CASE WHEN code='bp' THEN content END),"")  AS bp,
            IFNULL(min(CASE WHEN code='cvp' THEN content END),"")  AS cvp,
            IFNULL(min(CASE WHEN code='cvpmmHg' THEN content END),"")  AS cvpmmHg
        FROM
            table_vital_sign
        WHERE
            1 = 1
        AND status !=-1
        AND status = #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') = #{dataTime}
    </select>

    <!-- 根据病人id获取某个时间人工气道方式 -->
    <select id="getAirWay" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(max(CASE WHEN code='airWayStyle' THEN content END),"")  AS airWayStyle
        FROM
            table_vital_sign
        WHERE
            1 = 1
        AND status !=-1
        AND status = #{status}
        AND patient_id = #{patientId}
        AND date_format(data_time, '%Y-%m-%d %H:%i') BETWEEN #{startTime} AND #{endTime}
    </select>

</mapper>
