<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.BasicNursingDao">

    <resultMap id="basicNursingMap" type="com.jyxd.web.data.basic.BasicNursing">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" jdbcType="DATE"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="basicNursing_colums">id,visit_id,visit_code,patient_id,data_time,code,content,create_time,operator_code,status</sql>

    <sql id="basicNursing_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{code},
                                  #{content},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="basicNursing_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                              data_time=#{dataTime},code=#{code},content=#{content},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_basic_nursing(<include refid="basicNursing_colums"></include>)
        values (<include refid="basicNursing_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.BasicNursing" >
        update
        table_basic_nursing
        set <include refid="basicNursing_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="basicNursingMap" parameterType="java.lang.String">
        select
          <include refid="basicNursing_colums"></include>
        from
        table_basic_nursing
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="basicNursing_colums"></include>
        from
        table_basic_nursing
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_basic_nursing
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getNursingList" resultType="java.util.Map">
        SELECT
            pp.id,
            pp.name,
            pp.visit_id,
            pp.visit_code,
            pp.bed_code,
            CASE WHEN tbn.code='体温' THEN tbn.content END as 体温,
            CASE WHEN tbn.code='心率' THEN tbn.content END as 心率,
            CASE WHEN tbn.code='脉搏' THEN tbn.content END as 脉搏,
            CASE WHEN tbn.code='呼吸' THEN tbn.content END as 呼吸,
            CASE WHEN tbn.code='有创血压' THEN tbn.content END as 有创血压,
            CASE WHEN tbn.code='无创血压' THEN tbn.content END as 无创血压,
            CASE WHEN tbn.code='SpO₂' THEN tbn.content END as SpO₂,
            CASE WHEN tbn.code='cmH₂O' THEN tbn.content END as cmH₂O,
            CASE WHEN tbn.code='mmHg' THEN tbn.content END as mmHg
        FROM
            p_patient pp LEFT JOIN table_basic_nursing tbn ON pp.id=tbn.patient_id
        WHERE
            pp.flag = 1
        AND pp.bed_code != ""
        AND date_format(tbn.data_time,'%Y-%m-%d %H:%i')=date_format(#{time},'%Y-%m-%d %H:%i')
        union
        SELECT
            pp.id,
            pp.name,
            pp.visit_id,
            pp.visit_code,
            pp.bed_code,
            CASE WHEN tbn.code='体温' THEN tbn.content END as 体温,
            CASE WHEN tbn.code='心率' THEN tbn.content END as 心率,
            CASE WHEN tbn.code='脉搏' THEN tbn.content END as 脉搏,
            CASE WHEN tbn.code='呼吸' THEN tbn.content END as 呼吸,
            CASE WHEN tbn.code='有创血压' THEN tbn.content END as 有创血压,
            CASE WHEN tbn.code='无创血压' THEN tbn.content END as 无创血压,
            CASE WHEN tbn.code='SpO₂' THEN tbn.content END as SpO₂,
            CASE WHEN tbn.code='cmH₂O' THEN tbn.content END as cmH₂O,
            CASE WHEN tbn.code='mmHg' THEN tbn.content END as mmHg
        FROM
            p_patient pp LEFT JOIN table_basic_nursing tbn ON pp.id=tbn.patient_id
        WHERE
            pp.flag = 1
        AND pp.bed_code != ""
    </select>

</mapper>
