<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.BloodSugarDao">

    <resultMap id="bloodSugarMap" type="com.jyxd.web.data.basic.BloodSugar">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" />
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="bloodSugar_colums">id,visit_id,visit_code,patient_id,data_time,code,content,create_time,operator_code,status</sql>

    <sql id="bloodSugar_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{code},
                                  #{content},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="bloodSugar_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                              data_time=#{dataTime},code=#{code},content=#{content},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_blood_sugar(<include refid="bloodSugar_colums"></include>)
        values (<include refid="bloodSugar_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.BloodSugar" >
        update
        table_blood_sugar
        set <include refid="bloodSugar_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="bloodSugarMap" parameterType="java.lang.String">
        select
          <include refid="bloodSugar_colums"></include>
        from
        table_blood_sugar
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="bloodSugar_colums"></include>
        from
        table_blood_sugar
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_blood_sugar
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getListByTime" resultType="java.util.Map">
        SELECT
            IFNULL(pp.visit_id, "") AS visit_id,
            IFNULL(pp.name, "") AS name,
            IFNULL(pp.visit_code, "") AS visit_code,
            IFNULL(pp.int_id, "") AS int_id,
            IFNULL(pp.bed_code, "") AS bed_code,
            IFNULL(tbs.id, "") AS id,
            IFNULL(tbs.code, "") AS code,
            IFNULL(tbs.data_time, "") AS data_time,
            IFNULL(tbs.content, "") AS content
        FROM
            p_patient pp
        LEFT JOIN table_blood_sugar tbs ON pp.int_id = tbs.patient_id
        <if test="time != null and time != ''">
            AND date_format(
            tbs.data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{time},
            '%Y%m%d %H%i'
            )
        </if>
        WHERE
            pp. STATUS !=- 1
        AND pp.flag = 1
    </select>

    <select id="queryDataByCodeAndPatientId" resultMap="bloodSugarMap" parameterType="java.util.Map">
        select
        <include refid="bloodSugar_colums"></include>
        from
        table_blood_sugar
        where
        1=1
        and status !=-1
        <if test="dataTime != null and dataTime != ''">
            and date_format(
            data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{dataTime},
            '%Y%m%d %H%i'
            )
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="code != null and code != '' and code != null">
            and  code = #{code}
        </if>
        <if test="patientId != null and patientId != ''">
            and  patient_id = #{patientId}
        </if>
    </select>

    <select id="queryListByTimeAndPatientId" resultMap="bloodSugarMap" parameterType="java.util.Map">
        select
        <include refid="bloodSugar_colums"></include>
        from
        table_blood_sugar
        where
        1=1
        and  status != -1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="dataTime != null and dataTime != ''">
            and date_format(
            data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{dataTime},
            '%Y%m%d %H%i'
            )
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
       SELECT
            IFNULL(tbs.patient_id,"") AS patient_id,
            date_format(tbs.data_time, '%Y-%m-%d') AS date,
            date_format(tbs.data_time, '%H:%i') AS time,
            IFNULL(max(CASE WHEN tbs.code='bloodSugarType' THEN dcia.common_item_name END),"")  AS bloodSugarType,
            IFNULL(max(CASE WHEN tbs.code='dosage' THEN tbs.content END),"") AS dosage,
            IFNULL(max(CASE WHEN tbs.code='signature' THEN tu.user_name END),"") AS signature
        FROM
            table_blood_sugar tbs LEFT JOIN dict_common_item dcia ON dcia.common_item_code=tbs.content AND dcia.type='blood_sugar_type'
        LEFT JOIN table_user tu ON tu.login_name=tbs.content
        WHERE
            1 = 1
        AND tbs.status !=-1
        AND tbs.status =#{status}
        AND tbs.patient_id=#{patientId}
        AND date_format(tbs.data_time, '%Y-%m-%d')=#{dataTime}
        GROUP BY tbs.data_time
    </select>

</mapper>
