<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.CommonSettingDao">

    <resultMap id="commonSettingMap" type="com.jyxd.web.data.basic.CommonSetting">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="setting_name" property="settingName" jdbcType="VARCHAR"/>
        <result column="setting_type" property="settingType" jdbcType="VARCHAR"/>
        <result column="setting_sub_type" property="settingSubType" jdbcType="VARCHAR"/>
        <result column="setting_content" property="settingContent" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="sort_num" property="sortNum" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="commonSetting_colums">id,setting_name,setting_type,setting_sub_type,setting_content,create_time,sort_num</sql>

    <sql id="commonSetting_propertys">#{id},#{settingName},#{settingType},#{settingSubType},#{settingContent},#{createTime},#{sortNum}</sql>

    <sql id="commonSetting_update">setting_name=#{settingName},setting_type=#{settingType},setting_sub_type=#{settingSubType},
                              setting_content=#{settingContent},create_time=#{createTime},sort_num=#{sortNum}</sql>

    <insert id="insert">
        insert into
        table_common_setting(<include refid="commonSetting_colums"></include>)
        values (<include refid="commonSetting_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.CommonSetting" >
        update
        table_common_setting
        set <include refid="commonSetting_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="commonSettingMap" parameterType="java.lang.String">
        select
          <include refid="commonSetting_colums"></include>
        from
        table_common_setting
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="commonSetting_colums"></include>
        from
        table_common_setting
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_common_setting
        where
        1=1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
    </select>

    <select id="getSchedualTimeList" resultMap="commonSettingMap" parameterType="java.util.Map">
        select
        <include refid="commonSetting_colums"></include>
        from
        table_common_setting
        where
        1=1
        <if test="settingType != null and settingType != ''">
            and setting_type =#{settingType}
        </if>
        <if test="settingName != null and settingName != ''">
            and setting_name =#{settingName}
        </if>
        order by sort_num
    </select>

    <!-- 系统设置-通用设置-监护仪采集频率/默认首页-查询监护仪频率或默认首页 -->
    <select id="getCommonSettingByType" resultMap="commonSettingMap" parameterType="java.util.Map">
        select
        <include refid="commonSetting_colums"></include>
        from
        table_common_setting
        where
        1=1
        <if test="settingType != null and settingType != ''">
            and setting_type =#{settingType}
        </if>
    </select>
</mapper>
