<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.dictionary.DiagnoseCoefficientDictionaryDao">

    <resultMap id="diagnoseCoefficientDictionaryMap" type="com.jyxd.web.data.dictionary.DiagnoseCoefficientDictionary">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="diagnose_type_name" property="diagnoseTypeName" jdbcType="VARCHAR"/>
        <result column="operation" property="operation" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort_num" property="sortNum" jdbcType="INTEGER"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="diagnoseCoefficientDictionary_colums">id,diagnose_type_name,operation,status,sort_num,operator_code,create_time</sql>
    <sql id="diagnoseCoefficientDictionary_propertys">#{id},#{diagnoseTypeName},#{operation},#{status},#{sortNum},#{operatorCode},#{createTime}</sql>
    <sql id="diagnoseCoefficientDictionary_update">diagnose_type_name=#{diagnoseTypeName},operation=#{operation},status=#{status},sort_num=#{sortNum},operator_code=#{operatorCode},create_time=#{createTime}</sql>

    <insert id="insert">
        insert into
        dict_diagnose_coefficient(<include refid="diagnoseCoefficientDictionary_colums"></include>)
        values (<include refid="diagnoseCoefficientDictionary_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.dictionary.DiagnoseCoefficientDictionary" >
        update dict_diagnose_coefficient
        set <include refid="diagnoseCoefficientDictionary_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="diagnoseCoefficientDictionaryMap" parameterType="java.lang.String">
        select
          <include refid="diagnoseCoefficientDictionary_colums"></include>
        from
        dict_diagnose_coefficient
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="diagnoseCoefficientDictionary_colums"></include>
        from
        dict_diagnose_coefficient
        where
          1=1
        and  status != -1
        <if test="diagnoseTypeName != null and diagnoseTypeName != ''">
            and  diagnose_type_name like '%${diagnoseTypeName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="operation != null ">
            and  operation= #{operation}
        </if>
        ORDER BY sort_num,create_time DESC
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryDataByName" resultMap="diagnoseCoefficientDictionaryMap" parameterType="java.util.Map">
        select
        <include refid="diagnoseCoefficientDictionary_colums"></include>
        from
        dict_diagnose_coefficient
        where
        status !=-1
        and
        diagnose_type_name = #{diagnoseTypeName}
        and
        operation = #{operation}
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        dict_diagnose_coefficient
        where
        1=1
        and  status != -1
        <if test="diagnoseTypeName != null and diagnoseTypeName != ''">
            and  diagnose_type_name like '%${diagnoseTypeName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="operation != null ">
            and  operation= #{operation}
        </if>
    </select>

</mapper>
