<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.dictionary.IcuLogTemplateDictionaryDao">

    <resultMap id="icuLogTemplateDictionaryMap" type="com.jyxd.web.data.dictionary.IcuLogTemplateDictionary">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="template_name" property="templateName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sort_num" property="sortNum" jdbcType="INTEGER"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="icuLogTemplateDictionary_colums">id,template_name,status,sort_num,operator_code,create_time</sql>
    <sql id="icuLogTemplateDictionary_propertys">#{id},#{templateName},#{status},#{sortNum},#{operatorCode},#{createTime}</sql>
    <sql id="icuLogTemplateDictionary_update">template_name=#{templateName},status=#{status},sort_num=#{sortNum},operator_code=#{operatorCode},create_time=#{createTime}</sql>

    <insert id="insert">
        insert into
        dict_icu_log_template(<include refid="icuLogTemplateDictionary_colums"></include>)
        values (<include refid="icuLogTemplateDictionary_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.dictionary.IcuLogTemplateDictionary" >
        update dict_icu_log_template
        set <include refid="icuLogTemplateDictionary_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="icuLogTemplateDictionaryMap" parameterType="java.lang.String">
        select
          <include refid="icuLogTemplateDictionary_colums"></include>
        from
        dict_icu_log_template
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="icuLogTemplateDictionary_colums"></include>
        from
        dict_icu_log_template
        where
          1=1
        and  status != -1
        <if test="templateName != null and templateName != ''">
            and  template_name like '%${templateName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        order by sort_num
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        dict_icu_log_template
        where
        1=1
        and  status != -1
        <if test="templateName != null and templateName != ''">
            and  template_name like '%${templateName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="queryAllList" resultMap="icuLogTemplateDictionaryMap" parameterType="java.util.Map">
        select
        <include refid="icuLogTemplateDictionary_colums"></include>
        from
        dict_icu_log_template
        where
        1=1
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>
</mapper>
