<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.NursingPlanDao">

    <resultMap id="nursingPlanMap" type="com.jyxd.web.data.basic.NursingPlan">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="assessment_id" property="assessmentId" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" />
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="nursingPlan_colums">id,assessment_id,visit_id,visit_code,patient_id,data_time,code,content,create_time,operator_code,status</sql>

    <sql id="nursingPlan_propertys">#{id},#{assessmentId},#{visitId},#{visitCode},#{patientId},#{dataTime},#{code},
                                  #{content},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="nursingPlan_update">assessment_id=#{assessmentId},visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                              data_time=#{dataTime},code=#{code},content=#{content},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_nursing_plan(<include refid="nursingPlan_colums"></include>)
        values (<include refid="nursingPlan_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.NursingPlan" >
        update
        table_nursing_plan
        set <include refid="nursingPlan_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="nursingPlanMap" parameterType="java.lang.String">
        select
          <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_nursing_plan
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        date_format(tnp.data_time, '%Y-%m-%d %H:%i:%s') AS data_time,
        ts.user_name,
        tnp.assessment_id
        FROM
        table_nursing_plan tnp
        LEFT JOIN table_user ts ON ts.login_name = tnp.operator_code
        WHERE 1=1
        AND tnp.status!=-1
        <if test="patientId != null and patientId != ''">
            and  tnp.patient_id =#{patientId}
        </if>
        <if test="status != null ">
            and  tnp.status= #{status}
        </if>
        GROUP BY
        tnp.assessment_id
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="getNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(tnp.assessment_id)
        FROM
        table_nursing_plan tnp
        LEFT JOIN table_user ts ON ts.login_name = tnp.operator_code
        WHERE 1=1
        AND tnp.status!=-1
        <if test="patientId != null and patientId != ''">
            and  tnp.patient_id =#{patientId}
        </if>
        <if test="status != null ">
            and  tnp.status= #{status}
        </if>
        GROUP BY
        tnp.assessment_id
    </select>

    <select id="queryListByAssessmentId" resultMap="nursingPlanMap" parameterType="java.lang.String">
        select
        <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
        1=1
        and status!=-1
        and assessment_id=#{assessmentId}
    </select>

    <select id="queryDataByAssessmentId" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(tnp.visit_id,"") AS visit_id,
            IFNULL(tnp.visit_code,"") AS visit_code,
            IFNULL(tnp.patient_id,"") AS patient_id,
            IFNULL(tnp.assessment_id,"") AS assessment_id,
            IFNULL(max(CASE WHEN tnp.code='startDate_0' THEN tnp.content END),"") AS 'startDate_0',
            IFNULL(max(CASE WHEN tnp.code='startDate_1' THEN tnp.content END),"") AS 'startDate_1',
            IFNULL(max(CASE WHEN tnp.code='startDate_2' THEN tnp.content END),"") AS 'startDate_2',
            IFNULL(max(CASE WHEN tnp.code='startDate_3' THEN tnp.content END),"") AS 'startDate_3',
            IFNULL(max(CASE WHEN tnp.code='startDate_4' THEN tnp.content END),"") AS 'startDate_4',
            IFNULL(max(CASE WHEN tnp.code='startDate_5' THEN tnp.content END),"") AS 'startDate_5',
            IFNULL(max(CASE WHEN tnp.code='startDate_6' THEN tnp.content END),"") AS 'startDate_6',
            IFNULL(max(CASE WHEN tnp.code='startDate_7' THEN tnp.content END),"") AS 'startDate_7',
            IFNULL(max(CASE WHEN tnp.code='startDate_8' THEN tnp.content END),"") AS 'startDate_8',
            IFNULL(max(CASE WHEN tnp.code='startDate_9' THEN tnp.content END),"") AS 'startDate_9',
            IFNULL(max(CASE WHEN tnp.code='startDate_10' THEN tnp.content END),"") AS 'startDate_10',
            IFNULL(max(CASE WHEN tnp.code='startDate_11' THEN tnp.content END),"") AS 'startDate_11',
            IFNULL(max(CASE WHEN tnp.code='startDate_12' THEN tnp.content END),"") AS 'startDate_12',
            IFNULL(max(CASE WHEN tnp.code='startDate_13' THEN tnp.content END),"") AS 'startDate_13',
            IFNULL(max(CASE WHEN tnp.code='startDate_14' THEN tnp.content END),"") AS 'startDate_14',
            IFNULL(max(CASE WHEN tnp.code='startDate_15' THEN tnp.content END),"") AS 'startDate_15',
            IFNULL(max(CASE WHEN tnp.code='startDate_16' THEN tnp.content END),"") AS 'startDate_16',
            IFNULL(max(CASE WHEN tnp.code='startDate_17' THEN tnp.content END),"") AS 'startDate_17',
            IFNULL(max(CASE WHEN tnp.code='startDate_18' THEN tnp.content END),"") AS 'startDate_18',
            IFNULL(max(CASE WHEN tnp.code='startDate_19' THEN tnp.content END),"") AS 'startDate_19',
            IFNULL(max(CASE WHEN tnp.code='startDate_20' THEN tnp.content END),"") AS 'startDate_20',
            IFNULL(max(CASE WHEN tnp.code='startDate_21' THEN tnp.content END),"") AS 'startDate_21',
            IFNULL(max(CASE WHEN tnp.code='startDate_22' THEN tnp.content END),"") AS 'startDate_22',
            IFNULL(max(CASE WHEN tnp.code='startDate_23' THEN tnp.content END),"") AS 'startDate_23',
            IFNULL(max(CASE WHEN tnp.code='startDate_24' THEN tnp.content END),"") AS 'startDate_24',
            IFNULL(max(CASE WHEN tnp.code='startDate_25' THEN tnp.content END),"") AS 'startDate_25',
            IFNULL(max(CASE WHEN tnp.code='startDate_26' THEN tnp.content END),"") AS 'startDate_26',
            IFNULL(max(CASE WHEN tnp.code='startDate_27' THEN tnp.content END),"") AS 'startDate_27',
            IFNULL(max(CASE WHEN tnp.code='startDate_0' THEN tnp.content END),"") AS 'startTime_0',
            IFNULL(max(CASE WHEN tnp.code='startTime_1' THEN tnp.content END),"") AS 'startTime_1',
            IFNULL(max(CASE WHEN tnp.code='startTime_2' THEN tnp.content END),"") AS 'startTime_2',
            IFNULL(max(CASE WHEN tnp.code='startTime_3' THEN tnp.content END),"") AS 'startTime_3',
            IFNULL(max(CASE WHEN tnp.code='startTime_4' THEN tnp.content END),"") AS 'startTime_4',
            IFNULL(max(CASE WHEN tnp.code='startTime_5' THEN tnp.content END),"") AS 'startTime_5',
            IFNULL(max(CASE WHEN tnp.code='startTime_6' THEN tnp.content END),"") AS 'startTime_6',
            IFNULL(max(CASE WHEN tnp.code='startTime_7' THEN tnp.content END),"") AS 'startTime_7',
            IFNULL(max(CASE WHEN tnp.code='startTime_8' THEN tnp.content END),"") AS 'startTime_8',
            IFNULL(max(CASE WHEN tnp.code='startTime_9' THEN tnp.content END),"") AS 'startTime_9',
            IFNULL(max(CASE WHEN tnp.code='startTime_10' THEN tnp.content END),"") AS 'startTime_10',
            IFNULL(max(CASE WHEN tnp.code='startTime_11' THEN tnp.content END),"") AS 'startTime_11',
            IFNULL(max(CASE WHEN tnp.code='startTime_12' THEN tnp.content END),"") AS 'startTime_12',
            IFNULL(max(CASE WHEN tnp.code='startTime_13' THEN tnp.content END),"") AS 'startTime_13',
            IFNULL(max(CASE WHEN tnp.code='startTime_14' THEN tnp.content END),"") AS 'startTime_14',
            IFNULL(max(CASE WHEN tnp.code='startTime_15' THEN tnp.content END),"") AS 'startTime_15',
            IFNULL(max(CASE WHEN tnp.code='startTime_16' THEN tnp.content END),"") AS 'startTime_16',
            IFNULL(max(CASE WHEN tnp.code='startTime_17' THEN tnp.content END),"") AS 'startTime_17',
            IFNULL(max(CASE WHEN tnp.code='startTime_18' THEN tnp.content END),"") AS 'startTime_18',
            IFNULL(max(CASE WHEN tnp.code='startTime_19' THEN tnp.content END),"") AS 'startTime_19',
            IFNULL(max(CASE WHEN tnp.code='startTime_20' THEN tnp.content END),"") AS 'startTime_20',
            IFNULL(max(CASE WHEN tnp.code='startTime_21' THEN tnp.content END),"") AS 'startTime_21',
            IFNULL(max(CASE WHEN tnp.code='startTime_22' THEN tnp.content END),"") AS 'startTime_22',
            IFNULL(max(CASE WHEN tnp.code='startTime_23' THEN tnp.content END),"") AS 'startTime_23',
            IFNULL(max(CASE WHEN tnp.code='startTime_24' THEN tnp.content END),"") AS 'startTime_24',
            IFNULL(max(CASE WHEN tnp.code='startTime_25' THEN tnp.content END),"") AS 'startTime_25',
            IFNULL(max(CASE WHEN tnp.code='startTime_26' THEN tnp.content END),"") AS 'startTime_26',
            IFNULL(max(CASE WHEN tnp.code='startTime_27' THEN tnp.content END),"") AS 'startTime_27',
            IFNULL(max(CASE WHEN tnp.code='stopDate_0' THEN tnp.content END),"") AS 'stopDate_0',
            IFNULL(max(CASE WHEN tnp.code='stopDate_1' THEN tnp.content END),"") AS 'stopDate_1',
            IFNULL(max(CASE WHEN tnp.code='stopDate_2' THEN tnp.content END),"") AS 'stopDate_2',
            IFNULL(max(CASE WHEN tnp.code='stopDate_3' THEN tnp.content END),"") AS 'stopDate_3',
            IFNULL(max(CASE WHEN tnp.code='stopDate_4' THEN tnp.content END),"") AS 'stopDate_4',
            IFNULL(max(CASE WHEN tnp.code='stopDate_5' THEN tnp.content END),"") AS 'stopDate_5',
            IFNULL(max(CASE WHEN tnp.code='stopDate_6' THEN tnp.content END),"") AS 'stopDate_6',
            IFNULL(max(CASE WHEN tnp.code='stopDate_7' THEN tnp.content END),"") AS 'stopDate_7',
            IFNULL(max(CASE WHEN tnp.code='stopDate_8' THEN tnp.content END),"") AS 'stopDate_8',
            IFNULL(max(CASE WHEN tnp.code='stopDate_9' THEN tnp.content END),"") AS 'stopDate_9',
            IFNULL(max(CASE WHEN tnp.code='stopDate_10' THEN tnp.content END),"") AS 'stopDate_10',
            IFNULL(max(CASE WHEN tnp.code='stopDate_11' THEN tnp.content END),"") AS 'stopDate_11',
            IFNULL(max(CASE WHEN tnp.code='stopDate_12' THEN tnp.content END),"") AS 'stopDate_12',
            IFNULL(max(CASE WHEN tnp.code='stopDate_13' THEN tnp.content END),"") AS 'stopDate_13',
            IFNULL(max(CASE WHEN tnp.code='stopDate_14' THEN tnp.content END),"") AS 'stopDate_14',
            IFNULL(max(CASE WHEN tnp.code='stopDate_15' THEN tnp.content END),"") AS 'stopDate_15',
            IFNULL(max(CASE WHEN tnp.code='stopDate_16' THEN tnp.content END),"") AS 'stopDate_16',
            IFNULL(max(CASE WHEN tnp.code='stopDate_17' THEN tnp.content END),"") AS 'stopDate_17',
            IFNULL(max(CASE WHEN tnp.code='stopDate_18' THEN tnp.content END),"") AS 'stopDate_18',
            IFNULL(max(CASE WHEN tnp.code='stopDate_19' THEN tnp.content END),"") AS 'stopDate_19',
            IFNULL(max(CASE WHEN tnp.code='stopDate_20' THEN tnp.content END),"") AS 'stopDate_20',
            IFNULL(max(CASE WHEN tnp.code='stopDate_21' THEN tnp.content END),"") AS 'stopDate_21',
            IFNULL(max(CASE WHEN tnp.code='stopDate_22' THEN tnp.content END),"") AS 'stopDate_22',
            IFNULL(max(CASE WHEN tnp.code='stopDate_23' THEN tnp.content END),"") AS 'stopDate_23',
            IFNULL(max(CASE WHEN tnp.code='stopDate_24' THEN tnp.content END),"") AS 'stopDate_24',
            IFNULL(max(CASE WHEN tnp.code='stopDate_25' THEN tnp.content END),"") AS 'stopDate_25',
            IFNULL(max(CASE WHEN tnp.code='stopDate_26' THEN tnp.content END),"") AS 'stopDate_26',
            IFNULL(max(CASE WHEN tnp.code='stopDate_27' THEN tnp.content END),"") AS 'stopDate_27',
            IFNULL(max(CASE WHEN tnp.code='signature_0' THEN ts0.user_name END),"") AS 'signature_0',
            IFNULL(max(CASE WHEN tnp.code='signature_1' THEN ts1.user_name END),"") AS 'signature_1',
            IFNULL(max(CASE WHEN tnp.code='signature_2' THEN ts2.user_name END),"") AS 'signature_2',
            IFNULL(max(CASE WHEN tnp.code='signature_3' THEN ts3.user_name END),"") AS 'signature_3',
            IFNULL(max(CASE WHEN tnp.code='signature_4' THEN ts4.user_name END),"") AS 'signature_4',
            IFNULL(max(CASE WHEN tnp.code='signature_5' THEN ts5.user_name END),"") AS 'signature_5',
            IFNULL(max(CASE WHEN tnp.code='signature_6' THEN ts6.user_name END),"") AS 'signature_6',
            IFNULL(max(CASE WHEN tnp.code='signature_7' THEN ts7.user_name END),"") AS 'signature_7',
            IFNULL(max(CASE WHEN tnp.code='signature_8' THEN ts8.user_name END),"") AS 'signature_8',
            IFNULL(max(CASE WHEN tnp.code='signature_9' THEN ts9.user_name END),"") AS 'signature_9',
            IFNULL(max(CASE WHEN tnp.code='signature_10' THEN ts10.user_name END),"") AS 'signature_10',
            IFNULL(max(CASE WHEN tnp.code='signature_11' THEN ts11.user_name END),"") AS 'signature_11',
            IFNULL(max(CASE WHEN tnp.code='signature_12' THEN ts12.user_name END),"") AS 'signature_12',
            IFNULL(max(CASE WHEN tnp.code='signature_13' THEN ts13.user_name END),"") AS 'signature_13',
            IFNULL(max(CASE WHEN tnp.code='signature_14' THEN ts14.user_name END),"") AS 'signature_14',
            IFNULL(max(CASE WHEN tnp.code='signature_15' THEN ts15.user_name END),"") AS 'signature_15',
            IFNULL(max(CASE WHEN tnp.code='signature_16' THEN ts16.user_name END),"") AS 'signature_16',
            IFNULL(max(CASE WHEN tnp.code='signature_17' THEN ts17.user_name END),"") AS 'signature_17',
            IFNULL(max(CASE WHEN tnp.code='signature_18' THEN ts18.user_name END),"") AS 'signature_18',
            IFNULL(max(CASE WHEN tnp.code='signature_19' THEN ts19.user_name END),"") AS 'signature_19',
            IFNULL(max(CASE WHEN tnp.code='signature_20' THEN ts20.user_name END),"") AS 'signature_20',
            IFNULL(max(CASE WHEN tnp.code='signature_21' THEN ts21.user_name END),"") AS 'signature_21',
            IFNULL(max(CASE WHEN tnp.code='signature_22' THEN ts22.user_name END),"") AS 'signature_22',
            IFNULL(max(CASE WHEN tnp.code='signature_23' THEN ts23.user_name END),"") AS 'signature_23',
            IFNULL(max(CASE WHEN tnp.code='signature_24' THEN ts24.user_name END),"") AS 'signature_24',
            IFNULL(max(CASE WHEN tnp.code='signature_25' THEN ts25.user_name END),"") AS 'signature_25',
            IFNULL(max(CASE WHEN tnp.code='signature_26' THEN ts26.user_name END),"") AS 'signature_26',
            IFNULL(max(CASE WHEN tnp.code='signature_27' THEN ts27.user_name END),"") AS 'signature_27',
            IFNULL(max(CASE WHEN tnp.code='plan_0_0' THEN tnp.content END),"") AS 'plan_0_0',
            IFNULL(max(CASE WHEN tnp.code='plan_1_0' THEN tnp.content END),"") AS 'plan_1_0',
            IFNULL(max(CASE WHEN tnp.code='plan_2_0' THEN tnp.content END),"") AS 'plan_2_0',
            IFNULL(max(CASE WHEN tnp.code='plan_3_0' THEN tnp.content END),"") AS 'plan_3_0',
            IFNULL(max(CASE WHEN tnp.code='plan_4_0' THEN tnp.content END),"") AS 'plan_4_0',
            IFNULL(max(CASE WHEN tnp.code='plan_5_0' THEN tnp.content END),"") AS 'plan_5_0',
            IFNULL(max(CASE WHEN tnp.code='plan_6_0' THEN tnp.content END),"") AS 'plan_6_0',
            IFNULL(max(CASE WHEN tnp.code='plan_7_0' THEN tnp.content END),"") AS 'plan_7_0',
            IFNULL(max(CASE WHEN tnp.code='plan_7_1' THEN tnp.content END),"") AS 'plan_7_1',
            IFNULL(max(CASE WHEN tnp.code='plan_8_0' THEN tnp.content END),"") AS 'plan_8_0',
            IFNULL(max(CASE WHEN tnp.code='plan_9_0' THEN tnp.content END),"") AS 'plan_9_0',
            IFNULL(max(CASE WHEN tnp.code='plan_10_0' THEN tnp.content END),"") AS 'plan_10_0',
            IFNULL(max(CASE WHEN tnp.code='plan_11_0' THEN tnp.content END),"") AS 'plan_11_0',
            IFNULL(max(CASE WHEN tnp.code='plan_11_1' THEN tnp.content END),"") AS 'plan_11_1',
            IFNULL(max(CASE WHEN tnp.code='plan_11_2' THEN tnp.content END),"") AS 'plan_11_2',
            IFNULL(max(CASE WHEN tnp.code='plan_12_0' THEN tnp.content END),"") AS 'plan_12_0',
            IFNULL(max(CASE WHEN tnp.code='plan_12_1' THEN tnp.content END),"") AS 'plan_12_1',
            IFNULL(max(CASE WHEN tnp.code='plan_12_2' THEN tnp.content END),"") AS 'plan_12_2',
            IFNULL(max(CASE WHEN tnp.code='plan_13_0' THEN tnp.content END),"") AS 'plan_13_0',
            IFNULL(max(CASE WHEN tnp.code='plan_14_0' THEN tnp.content END),"") AS 'plan_14_0',
            IFNULL(max(CASE WHEN tnp.code='plan_15_0' THEN tnp.content END),"") AS 'plan_15_0',
            IFNULL(max(CASE WHEN tnp.code='plan_16_0' THEN tnp.content END),"") AS 'plan_16_0',
            IFNULL(max(CASE WHEN tnp.code='plan_17_0' THEN tnp.content END),"") AS 'plan_17_0',
            IFNULL(max(CASE WHEN tnp.code='plan_17_1' THEN tnp.content END),"") AS 'plan_17_1',
            IFNULL(max(CASE WHEN tnp.code='plan_17_2' THEN tnp.content END),"") AS 'plan_17_2',
            IFNULL(max(CASE WHEN tnp.code='plan_17_3' THEN tnp.content END),"") AS 'plan_17_3',
            IFNULL(max(CASE WHEN tnp.code='plan_17_4' THEN tnp.content END),"") AS 'plan_17_4',
            IFNULL(max(CASE WHEN tnp.code='plan_18_0' THEN tnp.content END),"") AS 'plan_18_0',
            IFNULL(max(CASE WHEN tnp.code='plan_18_1' THEN tnp.content END),"") AS 'plan_18_1',
            IFNULL(max(CASE WHEN tnp.code='plan_18_2' THEN tnp.content END),"") AS 'plan_18_2',
            IFNULL(max(CASE WHEN tnp.code='plan_18_3' THEN tnp.content END),"") AS 'plan_18_3',
            IFNULL(max(CASE WHEN tnp.code='plan_18_4' THEN tnp.content END),"") AS 'plan_18_4',
            IFNULL(max(CASE WHEN tnp.code='plan_18_5' THEN tnp.content END),"") AS 'plan_18_5',
            IFNULL(max(CASE WHEN tnp.code='plan_18_6' THEN tnp.content END),"") AS 'plan_18_6',
            IFNULL(max(CASE WHEN tnp.code='plan_19_0' THEN tnp.content END),"") AS 'plan_19_0',
            IFNULL(max(CASE WHEN tnp.code='plan_19_1' THEN tnp.content END),"") AS 'plan_19_1',
            IFNULL(max(CASE WHEN tnp.code='plan_19_2' THEN tnp.content END),"") AS 'plan_19_2',
            IFNULL(max(CASE WHEN tnp.code='plan_19_3' THEN tnp.content END),"") AS 'plan_19_3',
            IFNULL(max(CASE WHEN tnp.code='plan_20_0' THEN tnp.content END),"") AS 'plan_20_0',
            IFNULL(max(CASE WHEN tnp.code='plan_20_1' THEN tnp.content END),"") AS 'plan_20_1',
            IFNULL(max(CASE WHEN tnp.code='plan_21_0' THEN tnp.content END),"") AS 'plan_21_0',
            IFNULL(max(CASE WHEN tnp.code='plan_21_1' THEN tnp.content END),"") AS 'plan_21_1',
            IFNULL(max(CASE WHEN tnp.code='plan_21_2' THEN tnp.content END),"") AS 'plan_21_2',
            IFNULL(max(CASE WHEN tnp.code='plan_21_3' THEN tnp.content END),"") AS 'plan_21_3',
            IFNULL(max(CASE WHEN tnp.code='plan_21_4' THEN tnp.content END),"") AS 'plan_21_4',
            IFNULL(max(CASE WHEN tnp.code='plan_22_0' THEN tnp.content END),"") AS 'plan_22_0',
            IFNULL(max(CASE WHEN tnp.code='plan_23_0' THEN tnp.content END),"") AS 'plan_23_0',
            IFNULL(max(CASE WHEN tnp.code='plan_24_0' THEN tnp.content END),"") AS 'plan_24_0',
            IFNULL(max(CASE WHEN tnp.code='plan_24_1' THEN tnp.content END),"") AS 'plan_24_1',
            IFNULL(max(CASE WHEN tnp.code='plan_25_0' THEN tnp.content END),"") AS 'plan_25_0',
            IFNULL(max(CASE WHEN tnp.code='plan_26_0' THEN tnp.content END),"") AS 'plan_26_0',
            IFNULL(max(CASE WHEN tnp.code='plan_27_0' THEN tnp.content END),"") AS 'plan_27_0'
        FROM
            table_nursing_plan tnp
        LEFT JOIN table_user ts0 ON ts0.login_name = tnp.content AND tnp.code='signature_0'
        LEFT JOIN table_user ts1 ON ts1.login_name = tnp.content AND tnp.code='signature_1'
        LEFT JOIN table_user ts2 ON ts2.login_name = tnp.content AND tnp.code='signature_2'
        LEFT JOIN table_user ts3 ON ts3.login_name = tnp.content AND tnp.code='signature_3'
        LEFT JOIN table_user ts4 ON ts4.login_name = tnp.content AND tnp.code='signature_4'
        LEFT JOIN table_user ts5 ON ts5.login_name = tnp.content AND tnp.code='signature_5'
        LEFT JOIN table_user ts6 ON ts6.login_name = tnp.content AND tnp.code='signature_6'
        LEFT JOIN table_user ts7 ON ts7.login_name = tnp.content AND tnp.code='signature_7'
        LEFT JOIN table_user ts8 ON ts8.login_name = tnp.content AND tnp.code='signature_8'
        LEFT JOIN table_user ts9 ON ts9.login_name = tnp.content AND tnp.code='signature_9'
        LEFT JOIN table_user ts10 ON ts10.login_name = tnp.content AND tnp.code='signature_10'
        LEFT JOIN table_user ts11 ON ts11.login_name = tnp.content AND tnp.code='signature_11'
        LEFT JOIN table_user ts12 ON ts12.login_name = tnp.content AND tnp.code='signature_12'
        LEFT JOIN table_user ts13 ON ts13.login_name = tnp.content AND tnp.code='signature_13'
        LEFT JOIN table_user ts14 ON ts14.login_name = tnp.content AND tnp.code='signature_14'
        LEFT JOIN table_user ts15 ON ts15.login_name = tnp.content AND tnp.code='signature_15'
        LEFT JOIN table_user ts16 ON ts16.login_name = tnp.content AND tnp.code='signature_16'
        LEFT JOIN table_user ts17 ON ts17.login_name = tnp.content AND tnp.code='signature_17'
        LEFT JOIN table_user ts18 ON ts18.login_name = tnp.content AND tnp.code='signature_18'
        LEFT JOIN table_user ts19 ON ts19.login_name = tnp.content AND tnp.code='signature_19'
        LEFT JOIN table_user ts20 ON ts20.login_name = tnp.content AND tnp.code='signature_20'
        LEFT JOIN table_user ts21 ON ts21.login_name = tnp.content AND tnp.code='signature_21'
        LEFT JOIN table_user ts22 ON ts22.login_name = tnp.content AND tnp.code='signature_22'
        LEFT JOIN table_user ts23 ON ts23.login_name = tnp.content AND tnp.code='signature_23'
        LEFT JOIN table_user ts24 ON ts24.login_name = tnp.content AND tnp.code='signature_24'
        LEFT JOIN table_user ts25 ON ts25.login_name = tnp.content AND tnp.code='signature_25'
        LEFT JOIN table_user ts26 ON ts26.login_name = tnp.content AND tnp.code='signature_26'
        LEFT JOIN table_user ts27 ON ts27.login_name = tnp.content AND tnp.code='signature_27'
        WHERE 1=1
        AND tnp.status!=-1
        <if test="assessmentId != null and assessmentId != ''">
            AND  tnp.assessment_id =#{assessmentId}
        </if>
        <if test="status != null ">
            AND tnp.status=#{status}
        </if>
        GROUP BY
            tnp.assessment_id
    </select>

</mapper>
