<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.NursingPlanDao">

    <resultMap id="nursingPlanMap" type="com.jyxd.web.data.basic.NursingPlan">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="assessment_id" property="assessmentId" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" />
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" />
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="nursingPlan_colums">id,assessment_id,visit_id,visit_code,patient_id,data_time,code,content,create_time,operator_code,status</sql>

    <sql id="nursingPlan_propertys">#{id},#{assessmentId},#{visitId},#{visitCode},#{patientId},#{dataTime},#{code},
                                  #{content},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="nursingPlan_update">assessment_id=#{assessmentId},visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},
                              data_time=#{dataTime},code=#{code},content=#{content},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_nursing_plan(<include refid="nursingPlan_colums"></include>)
        values (<include refid="nursingPlan_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.NursingPlan" >
        update
        table_nursing_plan
        set <include refid="nursingPlan_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="nursingPlanMap" parameterType="java.lang.String">
        select
          <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_nursing_plan
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        tnp.data_time,
        ts.user_name,
        tnp.assessment_id
        FROM
        table_nursing_plan tnp
        LEFT JOIN table_user ts ON ts.login_name = tnp.operator_code
        WHERE 1=1
        AND tnp.status!=-1
        <if test="patientId != null and patientId != ''">
            and  tnp.patient_id =#{patientId}
        </if>
        <if test="status != null ">
            and  tnp.status= #{status}
        </if>
        GROUP BY
        tnp.assessment_id
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="getNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(tnp.assessment_id)
        FROM
        table_nursing_plan tnp
        LEFT JOIN table_user ts ON ts.login_name = tnp.operator_code
        WHERE 1=1
        AND tnp.status!=-1
        <if test="patientId != null and patientId != ''">
            and  tnp.patient_id =#{patientId}
        </if>
        <if test="status != null ">
            and  tnp.status= #{status}
        </if>
        GROUP BY
        tnp.assessment_id
    </select>

    <select id="queryListByAssessmentId" resultMap="nursingPlanMap" parameterType="java.lang.String">
        select
        <include refid="nursingPlan_colums"></include>
        from
        table_nursing_plan
        where
        1=1
        and status!=-1
        and assessment_id=#{assessmentId}
    </select>

    <select id="queryDataByAssessmentId" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(tnp.visit_id,"") AS visit_id,
            IFNULL(tnp.visit_code,"") AS visit_code,
            IFNULL(tnp.patient_id,"") AS patient_id,
            IFNULL(tnp.assessment_id,"") AS assessment_id,
            IFNULL(max(CASE WHEN tnp.code='startDate-0' THEN tnp.content END),"") AS 'startDate-0',
            IFNULL(max(CASE WHEN tnp.code='startDate-1' THEN tnp.content END),"") AS 'startDate-1',
            IFNULL(max(CASE WHEN tnp.code='startDate-2' THEN tnp.content END),"") AS 'startDate-2',
            IFNULL(max(CASE WHEN tnp.code='startDate-3' THEN tnp.content END),"") AS 'startDate-3',
            IFNULL(max(CASE WHEN tnp.code='startDate-4' THEN tnp.content END),"") AS 'startDate-4',
            IFNULL(max(CASE WHEN tnp.code='startDate-5' THEN tnp.content END),"") AS 'startDate-5',
            IFNULL(max(CASE WHEN tnp.code='startDate-6' THEN tnp.content END),"") AS 'startDate-6',
            IFNULL(max(CASE WHEN tnp.code='startDate-7' THEN tnp.content END),"") AS 'startDate-7',
            IFNULL(max(CASE WHEN tnp.code='startDate-8' THEN tnp.content END),"") AS 'startDate-8',
            IFNULL(max(CASE WHEN tnp.code='startDate-9' THEN tnp.content END),"") AS 'startDate-9',
            IFNULL(max(CASE WHEN tnp.code='startDate-10' THEN tnp.content END),"") AS 'startDate-10',
            IFNULL(max(CASE WHEN tnp.code='startDate-11' THEN tnp.content END),"") AS 'startDate-11',
            IFNULL(max(CASE WHEN tnp.code='startDate-12' THEN tnp.content END),"") AS 'startDate-12',
            IFNULL(max(CASE WHEN tnp.code='startDate-13' THEN tnp.content END),"") AS 'startDate-13',
            IFNULL(max(CASE WHEN tnp.code='startDate-14' THEN tnp.content END),"") AS 'startDate-14',
            IFNULL(max(CASE WHEN tnp.code='startDate-15' THEN tnp.content END),"") AS 'startDate-15',
            IFNULL(max(CASE WHEN tnp.code='startDate-16' THEN tnp.content END),"") AS 'startDate-16',
            IFNULL(max(CASE WHEN tnp.code='startDate-17' THEN tnp.content END),"") AS 'startDate-17',
            IFNULL(max(CASE WHEN tnp.code='startDate-18' THEN tnp.content END),"") AS 'startDate-18',
            IFNULL(max(CASE WHEN tnp.code='startDate-19' THEN tnp.content END),"") AS 'startDate-19',
            IFNULL(max(CASE WHEN tnp.code='startDate-20' THEN tnp.content END),"") AS 'startDate-20',
            IFNULL(max(CASE WHEN tnp.code='startDate-21' THEN tnp.content END),"") AS 'startDate-21',
            IFNULL(max(CASE WHEN tnp.code='startDate-22' THEN tnp.content END),"") AS 'startDate-22',
            IFNULL(max(CASE WHEN tnp.code='startDate-23' THEN tnp.content END),"") AS 'startDate-23',
            IFNULL(max(CASE WHEN tnp.code='startDate-24' THEN tnp.content END),"") AS 'startDate-24',
            IFNULL(max(CASE WHEN tnp.code='startDate-25' THEN tnp.content END),"") AS 'startDate-25',
            IFNULL(max(CASE WHEN tnp.code='startDate-26' THEN tnp.content END),"") AS 'startDate-26',
            IFNULL(max(CASE WHEN tnp.code='startDate-27' THEN tnp.content END),"") AS 'startDate-27',
            IFNULL(max(CASE WHEN tnp.code='startDate-0' THEN tnp.content END),"") AS 'startTime-0',
            IFNULL(max(CASE WHEN tnp.code='startTime-1' THEN tnp.content END),"") AS 'startTime-1',
            IFNULL(max(CASE WHEN tnp.code='startTime-2' THEN tnp.content END),"") AS 'startTime-2',
            IFNULL(max(CASE WHEN tnp.code='startTime-3' THEN tnp.content END),"") AS 'startTime-3',
            IFNULL(max(CASE WHEN tnp.code='startTime-4' THEN tnp.content END),"") AS 'startTime-4',
            IFNULL(max(CASE WHEN tnp.code='startTime-5' THEN tnp.content END),"") AS 'startTime-5',
            IFNULL(max(CASE WHEN tnp.code='startTime-6' THEN tnp.content END),"") AS 'startTime-6',
            IFNULL(max(CASE WHEN tnp.code='startTime-7' THEN tnp.content END),"") AS 'startTime-7',
            IFNULL(max(CASE WHEN tnp.code='startTime-8' THEN tnp.content END),"") AS 'startTime-8',
            IFNULL(max(CASE WHEN tnp.code='startTime-9' THEN tnp.content END),"") AS 'startTime-9',
            IFNULL(max(CASE WHEN tnp.code='startTime-10' THEN tnp.content END),"") AS 'startTime-10',
            IFNULL(max(CASE WHEN tnp.code='startTime-11' THEN tnp.content END),"") AS 'startTime-11',
            IFNULL(max(CASE WHEN tnp.code='startTime-12' THEN tnp.content END),"") AS 'startTime-12',
            IFNULL(max(CASE WHEN tnp.code='startTime-13' THEN tnp.content END),"") AS 'startTime-13',
            IFNULL(max(CASE WHEN tnp.code='startTime-14' THEN tnp.content END),"") AS 'startTime-14',
            IFNULL(max(CASE WHEN tnp.code='startTime-15' THEN tnp.content END),"") AS 'startTime-15',
            IFNULL(max(CASE WHEN tnp.code='startTime-16' THEN tnp.content END),"") AS 'startTime-16',
            IFNULL(max(CASE WHEN tnp.code='startTime-17' THEN tnp.content END),"") AS 'startTime-17',
            IFNULL(max(CASE WHEN tnp.code='startTime-18' THEN tnp.content END),"") AS 'startTime-18',
            IFNULL(max(CASE WHEN tnp.code='startTime-19' THEN tnp.content END),"") AS 'startTime-19',
            IFNULL(max(CASE WHEN tnp.code='startTime-20' THEN tnp.content END),"") AS 'startTime-20',
            IFNULL(max(CASE WHEN tnp.code='startTime-21' THEN tnp.content END),"") AS 'startTime-21',
            IFNULL(max(CASE WHEN tnp.code='startTime-22' THEN tnp.content END),"") AS 'startTime-22',
            IFNULL(max(CASE WHEN tnp.code='startTime-23' THEN tnp.content END),"") AS 'startTime-23',
            IFNULL(max(CASE WHEN tnp.code='startTime-24' THEN tnp.content END),"") AS 'startTime-24',
            IFNULL(max(CASE WHEN tnp.code='startTime-25' THEN tnp.content END),"") AS 'startTime-25',
            IFNULL(max(CASE WHEN tnp.code='startTime-26' THEN tnp.content END),"") AS 'startTime-26',
            IFNULL(max(CASE WHEN tnp.code='startTime-27' THEN tnp.content END),"") AS 'startTime-27',
            IFNULL(max(CASE WHEN tnp.code='stopDate-0' THEN tnp.content END),"") AS 'stopDate-0',
            IFNULL(max(CASE WHEN tnp.code='stopDate-1' THEN tnp.content END),"") AS 'stopDate-1',
            IFNULL(max(CASE WHEN tnp.code='stopDate-2' THEN tnp.content END),"") AS 'stopDate-2',
            IFNULL(max(CASE WHEN tnp.code='stopDate-3' THEN tnp.content END),"") AS 'stopDate-3',
            IFNULL(max(CASE WHEN tnp.code='stopDate-4' THEN tnp.content END),"") AS 'stopDate-4',
            IFNULL(max(CASE WHEN tnp.code='stopDate-5' THEN tnp.content END),"") AS 'stopDate-5',
            IFNULL(max(CASE WHEN tnp.code='stopDate-6' THEN tnp.content END),"") AS 'stopDate-6',
            IFNULL(max(CASE WHEN tnp.code='stopDate-7' THEN tnp.content END),"") AS 'stopDate-7',
            IFNULL(max(CASE WHEN tnp.code='stopDate-8' THEN tnp.content END),"") AS 'stopDate-8',
            IFNULL(max(CASE WHEN tnp.code='stopDate-9' THEN tnp.content END),"") AS 'stopDate-9',
            IFNULL(max(CASE WHEN tnp.code='stopDate-10' THEN tnp.content END),"") AS 'stopDate-10',
            IFNULL(max(CASE WHEN tnp.code='stopDate-11' THEN tnp.content END),"") AS 'stopDate-11',
            IFNULL(max(CASE WHEN tnp.code='stopDate-12' THEN tnp.content END),"") AS 'stopDate-12',
            IFNULL(max(CASE WHEN tnp.code='stopDate-13' THEN tnp.content END),"") AS 'stopDate-13',
            IFNULL(max(CASE WHEN tnp.code='stopDate-14' THEN tnp.content END),"") AS 'stopDate-14',
            IFNULL(max(CASE WHEN tnp.code='stopDate-15' THEN tnp.content END),"") AS 'stopDate-15',
            IFNULL(max(CASE WHEN tnp.code='stopDate-16' THEN tnp.content END),"") AS 'stopDate-16',
            IFNULL(max(CASE WHEN tnp.code='stopDate-17' THEN tnp.content END),"") AS 'stopDate-17',
            IFNULL(max(CASE WHEN tnp.code='stopDate-18' THEN tnp.content END),"") AS 'stopDate-18',
            IFNULL(max(CASE WHEN tnp.code='stopDate-19' THEN tnp.content END),"") AS 'stopDate-19',
            IFNULL(max(CASE WHEN tnp.code='stopDate-20' THEN tnp.content END),"") AS 'stopDate-20',
            IFNULL(max(CASE WHEN tnp.code='stopDate-21' THEN tnp.content END),"") AS 'stopDate-21',
            IFNULL(max(CASE WHEN tnp.code='stopDate-22' THEN tnp.content END),"") AS 'stopDate-22',
            IFNULL(max(CASE WHEN tnp.code='stopDate-23' THEN tnp.content END),"") AS 'stopDate-23',
            IFNULL(max(CASE WHEN tnp.code='stopDate-24' THEN tnp.content END),"") AS 'stopDate-24',
            IFNULL(max(CASE WHEN tnp.code='stopDate-25' THEN tnp.content END),"") AS 'stopDate-25',
            IFNULL(max(CASE WHEN tnp.code='stopDate-26' THEN tnp.content END),"") AS 'stopDate-26',
            IFNULL(max(CASE WHEN tnp.code='stopDate-27' THEN tnp.content END),"") AS 'stopDate-27',
            IFNULL(max(CASE WHEN tnp.code='signature-0' THEN ts0.user_name END),"") AS 'signature-0',
            IFNULL(max(CASE WHEN tnp.code='signature-1' THEN ts1.user_name END),"") AS 'signature-1',
            IFNULL(max(CASE WHEN tnp.code='signature-2' THEN ts2.user_name END),"") AS 'signature-2',
            IFNULL(max(CASE WHEN tnp.code='signature-3' THEN ts3.user_name END),"") AS 'signature-3',
            IFNULL(max(CASE WHEN tnp.code='signature-4' THEN ts4.user_name END),"") AS 'signature-4',
            IFNULL(max(CASE WHEN tnp.code='signature-5' THEN ts5.user_name END),"") AS 'signature-5',
            IFNULL(max(CASE WHEN tnp.code='signature-6' THEN ts6.user_name END),"") AS 'signature-6',
            IFNULL(max(CASE WHEN tnp.code='signature-7' THEN ts7.user_name END),"") AS 'signature-7',
            IFNULL(max(CASE WHEN tnp.code='signature-8' THEN ts8.user_name END),"") AS 'signature-8',
            IFNULL(max(CASE WHEN tnp.code='signature-9' THEN ts9.user_name END),"") AS 'signature-9',
            IFNULL(max(CASE WHEN tnp.code='signature-10' THEN ts10.user_name END),"") AS 'signature-10',
            IFNULL(max(CASE WHEN tnp.code='signature-11' THEN ts11.user_name END),"") AS 'signature-11',
            IFNULL(max(CASE WHEN tnp.code='signature-12' THEN ts12.user_name END),"") AS 'signature-12',
            IFNULL(max(CASE WHEN tnp.code='signature-13' THEN ts13.user_name END),"") AS 'signature-13',
            IFNULL(max(CASE WHEN tnp.code='signature-14' THEN ts14.user_name END),"") AS 'signature-14',
            IFNULL(max(CASE WHEN tnp.code='signature-15' THEN ts15.user_name END),"") AS 'signature-15',
            IFNULL(max(CASE WHEN tnp.code='signature-16' THEN ts16.user_name END),"") AS 'signature-16',
            IFNULL(max(CASE WHEN tnp.code='signature-17' THEN ts17.user_name END),"") AS 'signature-17',
            IFNULL(max(CASE WHEN tnp.code='signature-18' THEN ts18.user_name END),"") AS 'signature-18',
            IFNULL(max(CASE WHEN tnp.code='signature-19' THEN ts19.user_name END),"") AS 'signature-19',
            IFNULL(max(CASE WHEN tnp.code='signature-20' THEN ts20.user_name END),"") AS 'signature-20',
            IFNULL(max(CASE WHEN tnp.code='signature-21' THEN ts21.user_name END),"") AS 'signature-21',
            IFNULL(max(CASE WHEN tnp.code='signature-22' THEN ts22.user_name END),"") AS 'signature-22',
            IFNULL(max(CASE WHEN tnp.code='signature-23' THEN ts23.user_name END),"") AS 'signature-23',
            IFNULL(max(CASE WHEN tnp.code='signature-24' THEN ts24.user_name END),"") AS 'signature-24',
            IFNULL(max(CASE WHEN tnp.code='signature-25' THEN ts25.user_name END),"") AS 'signature-25',
            IFNULL(max(CASE WHEN tnp.code='signature-26' THEN ts26.user_name END),"") AS 'signature-26',
            IFNULL(max(CASE WHEN tnp.code='signature-27' THEN ts27.user_name END),"") AS 'signature-27',
            IFNULL(max(CASE WHEN tnp.code='plan-0-0' THEN tnp.content END),"") AS 'plan-0-0',
            IFNULL(max(CASE WHEN tnp.code='plan-1-0' THEN tnp.content END),"") AS 'plan-1-0',
            IFNULL(max(CASE WHEN tnp.code='plan-2-0' THEN tnp.content END),"") AS 'plan-2-0',
            IFNULL(max(CASE WHEN tnp.code='plan-3-0' THEN tnp.content END),"") AS 'plan-3-0',
            IFNULL(max(CASE WHEN tnp.code='plan-4-0' THEN tnp.content END),"") AS 'plan-4-0',
            IFNULL(max(CASE WHEN tnp.code='plan-5-0' THEN tnp.content END),"") AS 'plan-5-0',
            IFNULL(max(CASE WHEN tnp.code='plan-6-0' THEN tnp.content END),"") AS 'plan-6-0',
            IFNULL(max(CASE WHEN tnp.code='plan-7-0' THEN tnp.content END),"") AS 'plan-7-0',
            IFNULL(max(CASE WHEN tnp.code='plan-7-1' THEN tnp.content END),"") AS 'plan-7-1',
            IFNULL(max(CASE WHEN tnp.code='plan-8-0' THEN tnp.content END),"") AS 'plan-8-0',
            IFNULL(max(CASE WHEN tnp.code='plan-9-0' THEN tnp.content END),"") AS 'plan-9-0',
            IFNULL(max(CASE WHEN tnp.code='plan-10-0' THEN tnp.content END),"") AS 'plan-10-0',
            IFNULL(max(CASE WHEN tnp.code='plan-11-0' THEN tnp.content END),"") AS 'plan-11-0',
            IFNULL(max(CASE WHEN tnp.code='plan-11-1' THEN tnp.content END),"") AS 'plan-11-1',
            IFNULL(max(CASE WHEN tnp.code='plan-11-2' THEN tnp.content END),"") AS 'plan-11-2',
            IFNULL(max(CASE WHEN tnp.code='plan-12-0' THEN tnp.content END),"") AS 'plan-12-0',
            IFNULL(max(CASE WHEN tnp.code='plan-12-1' THEN tnp.content END),"") AS 'plan-12-1',
            IFNULL(max(CASE WHEN tnp.code='plan-12-2' THEN tnp.content END),"") AS 'plan-12-2',
            IFNULL(max(CASE WHEN tnp.code='plan-13-0' THEN tnp.content END),"") AS 'plan-13-0',
            IFNULL(max(CASE WHEN tnp.code='plan-14-0' THEN tnp.content END),"") AS 'plan-14-0',
            IFNULL(max(CASE WHEN tnp.code='plan-15-0' THEN tnp.content END),"") AS 'plan-15-0',
            IFNULL(max(CASE WHEN tnp.code='plan-16-0' THEN tnp.content END),"") AS 'plan-16-0',
            IFNULL(max(CASE WHEN tnp.code='plan-17-0' THEN tnp.content END),"") AS 'plan-17-0',
            IFNULL(max(CASE WHEN tnp.code='plan-17-1' THEN tnp.content END),"") AS 'plan-17-1',
            IFNULL(max(CASE WHEN tnp.code='plan-17-2' THEN tnp.content END),"") AS 'plan-17-2',
            IFNULL(max(CASE WHEN tnp.code='plan-17-3' THEN tnp.content END),"") AS 'plan-17-3',
            IFNULL(max(CASE WHEN tnp.code='plan-17-4' THEN tnp.content END),"") AS 'plan-17-4',
            IFNULL(max(CASE WHEN tnp.code='plan-18-0' THEN tnp.content END),"") AS 'plan-18-0',
            IFNULL(max(CASE WHEN tnp.code='plan-18-1' THEN tnp.content END),"") AS 'plan-18-1',
            IFNULL(max(CASE WHEN tnp.code='plan-18-2' THEN tnp.content END),"") AS 'plan-18-2',
            IFNULL(max(CASE WHEN tnp.code='plan-18-3' THEN tnp.content END),"") AS 'plan-18-3',
            IFNULL(max(CASE WHEN tnp.code='plan-18-4' THEN tnp.content END),"") AS 'plan-18-4',
            IFNULL(max(CASE WHEN tnp.code='plan-18-5' THEN tnp.content END),"") AS 'plan-18-5',
            IFNULL(max(CASE WHEN tnp.code='plan-18-6' THEN tnp.content END),"") AS 'plan-18-6',
            IFNULL(max(CASE WHEN tnp.code='plan-19-0' THEN tnp.content END),"") AS 'plan-19-0',
            IFNULL(max(CASE WHEN tnp.code='plan-19-1' THEN tnp.content END),"") AS 'plan-19-1',
            IFNULL(max(CASE WHEN tnp.code='plan-19-2' THEN tnp.content END),"") AS 'plan-19-2',
            IFNULL(max(CASE WHEN tnp.code='plan-19-3' THEN tnp.content END),"") AS 'plan-19-3',
            IFNULL(max(CASE WHEN tnp.code='plan-20-0' THEN tnp.content END),"") AS 'plan-20-0',
            IFNULL(max(CASE WHEN tnp.code='plan-20-1' THEN tnp.content END),"") AS 'plan-20-1',
            IFNULL(max(CASE WHEN tnp.code='plan-21-0' THEN tnp.content END),"") AS 'plan-21-0',
            IFNULL(max(CASE WHEN tnp.code='plan-21-1' THEN tnp.content END),"") AS 'plan-21-1',
            IFNULL(max(CASE WHEN tnp.code='plan-21-2' THEN tnp.content END),"") AS 'plan-21-2',
            IFNULL(max(CASE WHEN tnp.code='plan-21-3' THEN tnp.content END),"") AS 'plan-21-3',
            IFNULL(max(CASE WHEN tnp.code='plan-21-4' THEN tnp.content END),"") AS 'plan-21-4',
            IFNULL(max(CASE WHEN tnp.code='plan-22-0' THEN tnp.content END),"") AS 'plan-22-0',
            IFNULL(max(CASE WHEN tnp.code='plan-23-0' THEN tnp.content END),"") AS 'plan-23-0',
            IFNULL(max(CASE WHEN tnp.code='plan-24-0' THEN tnp.content END),"") AS 'plan-24-0',
            IFNULL(max(CASE WHEN tnp.code='plan-24-1' THEN tnp.content END),"") AS 'plan-24-1',
            IFNULL(max(CASE WHEN tnp.code='plan-25-0' THEN tnp.content END),"") AS 'plan-25-0',
            IFNULL(max(CASE WHEN tnp.code='plan-26-0' THEN tnp.content END),"") AS 'plan-26-0',
            IFNULL(max(CASE WHEN tnp.code='plan-27-0' THEN tnp.content END),"") AS 'plan-27-0'
        FROM
            table_nursing_plan tnp
        LEFT JOIN table_user ts0 ON ts0.login_name = tnp.content AND tnp.code='signature-0'
        LEFT JOIN table_user ts1 ON ts1.login_name = tnp.content AND tnp.code='signature-1'
        LEFT JOIN table_user ts2 ON ts2.login_name = tnp.content AND tnp.code='signature-2'
        LEFT JOIN table_user ts3 ON ts3.login_name = tnp.content AND tnp.code='signature-3'
        LEFT JOIN table_user ts4 ON ts4.login_name = tnp.content AND tnp.code='signature-4'
        LEFT JOIN table_user ts5 ON ts5.login_name = tnp.content AND tnp.code='signature-5'
        LEFT JOIN table_user ts6 ON ts6.login_name = tnp.content AND tnp.code='signature-6'
        LEFT JOIN table_user ts7 ON ts7.login_name = tnp.content AND tnp.code='signature-7'
        LEFT JOIN table_user ts8 ON ts8.login_name = tnp.content AND tnp.code='signature-8'
        LEFT JOIN table_user ts9 ON ts9.login_name = tnp.content AND tnp.code='signature-9'
        LEFT JOIN table_user ts10 ON ts10.login_name = tnp.content AND tnp.code='signature-10'
        LEFT JOIN table_user ts11 ON ts11.login_name = tnp.content AND tnp.code='signature-11'
        LEFT JOIN table_user ts12 ON ts12.login_name = tnp.content AND tnp.code='signature-12'
        LEFT JOIN table_user ts13 ON ts13.login_name = tnp.content AND tnp.code='signature-13'
        LEFT JOIN table_user ts14 ON ts14.login_name = tnp.content AND tnp.code='signature-14'
        LEFT JOIN table_user ts15 ON ts15.login_name = tnp.content AND tnp.code='signature-15'
        LEFT JOIN table_user ts16 ON ts16.login_name = tnp.content AND tnp.code='signature-16'
        LEFT JOIN table_user ts17 ON ts17.login_name = tnp.content AND tnp.code='signature-17'
        LEFT JOIN table_user ts18 ON ts18.login_name = tnp.content AND tnp.code='signature-18'
        LEFT JOIN table_user ts19 ON ts19.login_name = tnp.content AND tnp.code='signature-19'
        LEFT JOIN table_user ts20 ON ts20.login_name = tnp.content AND tnp.code='signature-20'
        LEFT JOIN table_user ts21 ON ts21.login_name = tnp.content AND tnp.code='signature-21'
        LEFT JOIN table_user ts22 ON ts22.login_name = tnp.content AND tnp.code='signature-22'
        LEFT JOIN table_user ts23 ON ts23.login_name = tnp.content AND tnp.code='signature-23'
        LEFT JOIN table_user ts24 ON ts24.login_name = tnp.content AND tnp.code='signature-24'
        LEFT JOIN table_user ts25 ON ts25.login_name = tnp.content AND tnp.code='signature-25'
        LEFT JOIN table_user ts26 ON ts26.login_name = tnp.content AND tnp.code='signature-26'
        LEFT JOIN table_user ts27 ON ts27.login_name = tnp.content AND tnp.code='signature-27'
        WHERE 1=1
        AND tnp.status!=-1
        <if test="assessmentId != null and assessmentId != ''">
            AND  tnp.assessment_id =#{assessmentId}
        </if>
        <if test="status != null ">
            AND tnp.status=#{status}
        </if>
        GROUP BY
            tnp.assessment_id
    </select>

</mapper>
