<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.OutputAmountDao">

    <resultMap id="outputAmountMap" type="com.jyxd.web.data.basic.OutputAmount">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="data_time" property="dataTime" jdbcType="DATE"/>
        <result column="output_type" property="outputType" jdbcType="VARCHAR"/>
        <result column="output_name" property="outputName" jdbcType="VARCHAR"/>
        <result column="dosage" property="dosage" jdbcType="VARCHAR"/>
        <result column="dosage_units" property="dosageUnits" jdbcType="VARCHAR"/>
        <result column="speed" property="speed" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="outputAmount_colums">id,visit_id,visit_code,patient_id,data_time,output_type,output_name,
                                dosage,dosage_units,speed,create_time,operator_code,status</sql>

    <sql id="outputAmount_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{dataTime},#{outputType},#{outputName},
                                    #{dosage},#{dosageUnits},#{speed},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="outputAmount_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},data_time=#{dataTime},output_type=#{outputType},
                              output_name=#{outputName},dosage=#{dosage},
                              dosage_units=#{dosageUnits},speed=#{speed},create_time=#{createTime},operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_output_amount(<include refid="outputAmount_colums"></include>)
        values (<include refid="outputAmount_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.OutputAmount" >
        update
        table_output_amount
        set <include refid="outputAmount_update"></include>
        where
        id=#{id}
    </update>

    <select id="queryData" resultMap="outputAmountMap" parameterType="java.lang.String">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where
        id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        from
        table_output_amount
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getListByTime" resultType="java.util.Map">
        SELECT
            IFNULL(dd.visit_id,"") AS visit_id,
            IFNULL(dd.name,"") AS name,
            IFNULL(dd.visit_code,"") AS visit_code,
            IFNULL(dd.int_id,"") AS int_id,
            IFNULL(dd.bed_code,"") AS bed_code,
            SUM(IFNULL(CASE WHEN
            dd.output_name='大便次数'
            THEN
            dd.dosage
            END,""))
             AS dabian,
            SUM(IFNULL(CASE WHEN
            dd.output_name='尿量'
            THEN
            dd.dosage
            END,""))
             AS niaoliang,
            SUM(IFNULL(CASE WHEN
            dd.order_type='液体入量'
            THEN
            dd.dosage
            END,""))
             AS yeti
         FROM(
        SELECT
           pp.visit_id,pp.name,pp.visit_code,pp.int_id,pp.bed_code,toa.output_name,toa.dosage,"" order_type,pp.status,pp.flag
         FROM p_patient pp LEFT JOIN table_output_amount toa ON pp.int_id=toa.patient_id
        <if test="time != null and time != ''">
            AND date_format(
            toa.data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{time},
            '%Y%m%d %H%i'
            )
        </if>
        union all
        SELECT
           pp.visit_id,pp.name,pp.visit_code,pp.int_id,pp.bed_code,"" output_name,tia.dosage ,tia.order_type,pp.status,pp.flag
         FROM p_patient pp LEFT JOIN table_input_amount tia ON pp.int_id=tia.patient_id
        <if test="time != null and time != ''">
            AND date_format(
            tia.data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{time},
            '%Y%m%d %H%i'
            )
        </if>) dd
        WHERE 1=1 AND dd.status!=-1 AND dd.flag=1
        GROUP BY dd.int_id,dd.visit_id,dd.visit_code,dd.name,dd.bed_code
    </select>

    <select id="queryDataByTime" resultMap="outputAmountMap" parameterType="java.lang.String">
        select
        <include refid="outputAmount_colums"></include>
        from
        table_output_amount
        where 1=1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="id != null and id != ''">
            and  id=#{id}
        </if>
        <if test="outputName != null and outputName != ''">
            and  output_name=#{outputName}
        </if>
        <if test="dataTime != null and dataTime != ''">
            and  date_format(
            data_time,
            '%Y%m%d %H%i'
            ) = date_format(
            #{dataTime},
            '%Y%m%d %H%i'
            )
        </if>
    </select>

</mapper>
