<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.patient.PatientDao">

    <resultMap id="patientMap" type="com.jyxd.web.data.patient.Patient">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="visit_num" property="visitNum" jdbcType="INTEGER"/>
        <result column="visit_time" property="visitTime" jdbcType="DATE"/>
        <result column="enter_time" property="enterTime" jdbcType="DATE"/>
        <result column="exit_time" property="exitTime" jdbcType="DATE"/>
        <result column="death_time" property="deathTime" jdbcType="DATE"/>
        <result column="flag" property="flag" jdbcType="INTEGER"/>
        <result column="exit_type" property="exitType" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="height" property="height" jdbcType="VARCHAR"/>
        <result column="race" property="race" jdbcType="VARCHAR"/>
        <result column="marital_state" property="maritalState" jdbcType="VARCHAR"/>
        <result column="blood_type" property="bloodType" jdbcType="VARCHAR"/>
        <result column="operation_id" property="operationId" jdbcType="VARCHAR"/>
        <result column="diagnosis_code" property="diagnosisCode" jdbcType="VARCHAR"/>
        <result column="diagnosis_name" property="diagnosisName" jdbcType="VARCHAR"/>
        <result column="operation_code" property="operationCode" jdbcType="VARCHAR"/>
        <result column="operation_name" property="operationName" jdbcType="VARCHAR"/>
        <result column="operation_time" property="operationTime" jdbcType="DATE"/>
        <result column="doctor_code" property="doctorCode" jdbcType="VARCHAR"/>
        <result column="nurse_code" property="nurseCode" jdbcType="VARCHAR"/>
        <result column="allergies" property="allergies" jdbcType="VARCHAR"/>
        <result column="nursing_level" property="nursingLevel" jdbcType="VARCHAR"/>
        <result column="illness_state" property="illnessState" jdbcType="VARCHAR"/>
        <result column="positive" property="positive" jdbcType="VARCHAR"/>
        <result column="department_code" property="departmentCode" jdbcType="VARCHAR"/>
        <result column="to_department_code" property="toDepartmentCode" jdbcType="VARCHAR"/>
        <result column="ward_code" property="wardCode" jdbcType="VARCHAR"/>
        <result column="bed_code" property="bedCode" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="unplanned" property="unplanned" jdbcType="INTEGER"/>
        <result column="is_collect" property="isCollect" jdbcType="INTEGER"/>
        <result column="modify_collect_time" property="modifyCollectTime" jdbcType="DATE"/>
        <result column="frequency" property="frequency" jdbcType="VARCHAR"/>
        <result column="modify_frequency_time" property="modifyFrequencyTime" jdbcType="DATE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="contact_man" property="contactMan" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="is_confirmed" property="isConfirmed" jdbcType="INTEGER"/>
        <result column="is_emergency_operate" property="isEmergencyOperate" jdbcType="INTEGER"/>
        <result column="is_brain_death" property="isBrainDeath" jdbcType="INTEGER"/>
        <result column="is_organ_donation" property="isOrganDonation" jdbcType="INTEGER"/>
        <result column="disease_classification" property="diseaseClassification" jdbcType="VARCHAR"/>
        <result column="is_septic_shock" property="isSepticShock" jdbcType="INTEGER"/>
        <result column="int_id" property="intId" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="patient_colums">id,visit_id,visit_code,visit_num,visit_time,enter_time,exit_time,death_time,flag,exit_type,name,id_card,sex,birthday,
                              age,weight,height,race,marital_state,blood_type,operation_id,diagnosis_code,diagnosis_name,operation_code,operation_name,
                              operation_time,doctor_code,nurse_code,allergies,nursing_level,illness_state,positive,department_code,
                              to_department_code,ward_code,bed_code,remark,unplanned,is_collect,modify_collect_time,
                              frequency,modify_frequency_time,status,create_time,contact_man,contact_phone,is_confirmed,is_emergency_operate,
                              is_brain_death,is_organ_donation,disease_classification,is_septic_shock,int_id</sql>
    <sql id="patient_propertys">#{id},#{visitId},#{visitCode},#{visitNum},#{visitTime},#{enterTime},#{exitTime},#{deathTime},#{flag},#{exitType},#{name},
                                  #{idCard},#{sex},#{birthday},#{age},#{weight},#{height},#{race},#{maritalState},#{bloodType},#{operationId},
                                  #{diagnosisCode},#{diagnosisName},#{operationCode},#{operationName},#{operationTime},#{doctorCode},#{nurseCode},
                                  #{allergies},#{nursingLevel},#{illnessState},#{positive},#{departmentCode},#{toDepartmentCode},#{wardCode},#{bedCode},
                                  #{remark},#{unplanned},#{isCollect},#{modifyCollectTime},#{frequency},#{modifyFrequencyTime},#{status},#{createTime},
                                  #{contactMan},#{contactPhone},#{isConfirmed},#{isEmergencyOperate},#{isBrainDeath},#{isOrganDonation},
                                  #{diseaseClassification},#{isSepticShock},#{intId}</sql>
    <sql id="patient_update">visit_id=#{visitId},visit_code=#{visitCode},visit_num=#{visitNum},visit_time=#{visitTime},enter_time=#{enterTime},
                              exit_time=#{exitTime},death_time=#{deathTime},flag=#{flag},exit_type=#{exitType},name=#{name},id_card=#{idCard},
		                      sex=#{sex},birthday=#{birthday},age=#{age},weight=#{weight},height=#{height},race=#{race},marital_state=#{maritalState},
		                      blood_type=#{bloodType},operation_id=#{operationId},diagnosis_code=#{diagnosisCode},diagnosis_name=#{diagnosisName},
		                      operation_code=#{operationCode},operation_name=#{operationName},operation_time=#{operationTime},doctor_code=#{doctorCode},
		                      nurse_code=#{nurseCode},allergies=#{allergies},nursing_level=#{nursingLevel},illness_state=#{illnessState},
		                      positive=#{positive},department_code=#{departmentCode},to_department_code=#{toDepartmentCode},ward_code=#{wardCode},
		                      bed_code=#{bedCode},remark=#{remark},unplanned=#{unplanned},is_collect=#{isCollect},modify_collect_time=#{modifyCollectTime},
		                      frequency=#{frequency},modify_frequency_time=#{modifyFrequencyTime},status=#{status},create_time=#{createTime},
		                      contact_man=#{contactMan},contact_phone=#{contactPhone},is_confirmed=#{isConfirmed},is_emergency_operate=#{isEmergencyOperate},
		                      is_brain_death=#{isBrainDeath},is_organ_donation=#{isOrganDonation},disease_classification=#{diseaseClassification},
		                      is_septic_shock=#{isSepticShock},int_id=#{intId}</sql>

    <insert id="insert">
        <selectKey keyProperty="intId" resultType="int">
            select @@IDENTITY
        </selectKey>
        insert into
        p_patient(<include refid="patient_colums"></include>)
        values (<include refid="patient_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.patient.Patient" >
        update p_patient
        set <include refid="patient_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="patientMap" parameterType="java.lang.String">
        select
          <include refid="patient_colums"></include>
        from
        p_patient
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="patient_colums"></include>
        from
        p_patient
        where
          1=1
        and  status != -1
        <if test="name != null and name != ''">
            and  name like '%${name}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        p_patient
        where
        1=1
        and  status != -1
        <if test="name != null and name != ''">
            and  name like '%${name}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getList" resultType="java.util.Map" parameterType="java.util.Map">
        select
            IFNULL(p.id,"") as id,
            IFNULL(p.visit_id,"") as visit_id,
            IFNULL(p.visit_code,"") as visit_code,
            IFNULL(p.visit_num,"") as visit_num,
            IFNULL(p.visit_time,"") as visit_time,
            IFNULL(p.enter_time,"") as enter_time,
            IFNULL(p.exit_time,"") as exit_time,
            IFNULL(p.death_time,"") as death_time,
            IFNULL(p.flag,"") as flag,
            IFNULL(p.exit_type,"") as exit_type,
            IFNULL(p.name,"") as name,
            IFNULL(p.id_card,"") as id_card,
            IFNULL(p.sex,"") as sex,
            IFNULL(p.birthday,"") as birthday,
            IFNULL(p.age,"") as age,
            IFNULL(p.weight,"") as weight,
            IFNULL(p.height,"") as height,
            IFNULL(p.race,"") as race,
            IFNULL(p.marital_state,"") as marital_state,
            IFNULL(p.blood_type,"") as blood_type,
            IFNULL(p.operation_id,"") as operation_id,
            IFNULL(p.diagnosis_code,"") as diagnosis_code,
            IFNULL(p.diagnosis_name,"") as diagnosis_name,
            IFNULL(p.operation_code,"") as operation_code,
            IFNULL(p.operation_name,"") as operation_name,
            IFNULL(p.operation_time,"") as operation_time,
            IFNULL(p.doctor_code,"") as doctor_code,
            IFNULL(p.nurse_code,"") as nurse_code,
            IFNULL(p.allergies,"") as allergies,
            IFNULL(p.nursing_level,"") as nursing_level,
            IFNULL(p.illness_state,"") as illness_state,
            IFNULL(p.positive,"") as positive,
            IFNULL(p.department_code,"") as department_code,
            IFNULL(p.to_department_code,"") as to_department_code,
            IFNULL(p.ward_code,"") as ward_code,
            IFNULL(p.bed_code,"") as bed_code,
            IFNULL(p.remark,"") as remark,
            IFNULL(p.unplanned,"") as unplanned,
            IFNULL(p.is_collect,"") as is_collect,
            IFNULL(p.modify_collect_time,"") as modify_collect_time,
            IFNULL(p.frequency,"") as frequency,
            IFNULL(p.modify_frequency_time,"") as modify_frequency_time,
            IFNULL(p.status,"") as status,
            IFNULL(p.create_time,"") as create_time,
            IFNULL(p.contact_man,"") as contact_man,
            IFNULL(p.contact_phone,"") as contact_phone,
            IFNULL(p.is_confirmed,"") as is_confirmed,
            IFNULL(p.is_emergency_operate,"") as is_emergency_operate,
            IFNULL(p.is_brain_death,"") as is_brain_death,
            IFNULL(p.is_organ_donation,"") as is_organ_donation,
            IFNULL(p.disease_classification,"") as disease_classification,
            IFNULL(p.is_septic_shock,"") as is_septic_shock,
            IFNULL(d.department_name,"") as inName,
            IFNULL(c.department_name,"") as outName,
            IFNULL(u.login_name,"") as docterName,
            IFNULL(tu.login_name,"") as nurseName
        FROM
          p_patient p
        LEFT JOIN dict_department d ON p.department_code = d.department_code
        LEFT JOIN dict_department c ON p.to_department_code = c.department_code
        LEFT JOIN table_user u ON p.doctor_code = u.work_number
        LEFT JOIN table_user tu ON p.nurse_code = tu.work_number
        where
          1=1
        and  p.status != -1
        <if test="visitId != null and visitId != ''">
            and  p.visit_id like '%${visitId}%'
        </if>
        <if test="name != null and name != ''">
            and  p.name like '%${name}%'
        </if>
        <if test="sex != null ">
            and  p.sex =#{sex}
        </if>
        <if test="enterStartTime != null and enterStartTime != ''">
            and p.enter_time between date_format(#{enterStartTime},'%Y%m%d')
            and date_format(#{enterEndTime},'%Y%m%d')
        </if>
        <if test="exitStartTime != null and exitStartTime != ''">
            and p.exit_time between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
        </if>
        <if test="flag != null ">
            and  p.flag= #{flag}
        </if>
        <if test="exitType != null and exitType != ''">
            and  p.exit_type = #{exitType}
        </if>
        <if test="departmentCode != null and departmentCode != ''">
            and  p.department_code = #{departmentCode}
        </if>
        <if test="toDepartmentCode != null and toDepartmentCode != ''">
            and  p.to_department_code = #{toDepartmentCode}
        </if>
        <if test="status != null ">
            and  p.status= #{status}
        </if>
        order by p.enter_time desc
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="getNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(p.id)
        FROM
        p_patient p
        LEFT JOIN dict_department d ON p.department_code = d.department_code
        LEFT JOIN dict_department c ON p.to_department_code = c.department_code
        where
        1=1
        and  p.status != -1
        <if test="visitId != null and visitId != ''">
            and  p.visit_id like '%${visitId}%'
        </if>
        <if test="name != null and name != ''">
            and  p.name like '%${name}%'
        </if>
        <if test="sex != null ">
            and  p.sex =#{sex}
        </if>
        <if test="enterStartTime != null and enterStartTime != ''">
            and p.enter_time between date_format(#{enterStartTime},'%Y%m%d')
            and date_format(#{enterEndTime},'%Y%m%d')
        </if>
        <if test="exitStartTime != null and exitStartTime != ''">
            and p.exit_time between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
        </if>
        <if test="flag != null ">
            and  p.flag= #{flag}
        </if>
        <if test="exitType != null and exitType != ''">
            and  p.exit_type = #{exitType}
        </if>
        <if test="departmentCode != null and departmentCode != ''">
            and  p.department_code = #{departmentCode}
        </if>
        <if test="toDepartmentCode != null and toDepartmentCode != ''">
            and  p.to_department_code = #{toDepartmentCode}
        </if>
        <if test="status != null ">
            and  p.status= #{status}
        </if>
    </select>

    <select id="getAllNum" resultType="java.lang.Integer" >
        select
          count(id)
        from
          p_patient
        where
        1=1
        and  status != -1
    </select>

    <select id="getDownloadList" resultType="java.util.LinkedHashMap" parameterType="java.util.Map">
        select
            IFNULL(p.visit_id,"") as 住院号,
            IFNULL(p.name,"") as 姓名,
            CASE
            WHEN(p.sex=0)
            THEN "女"
            WHEN(p.sex=1)
            THEN "男"
            ELSE ""
            END as 性别,
            IFNULL(p.enter_time,"") as 入科时间,
            IFNULL(p.exit_time,"") as 出科时间,
            CASE
            WHEN(p.flag=0)
            THEN "出科"
            WHEN(p.flag=1)
            THEN "在科"
            ELSE ""
            END as 当前状态,
            IFNULL(p.exit_type,"") as 出科方式,
            IFNULL(d.department_name,"") as 来源科室,
            IFNULL(c.department_name,"") as 去向科室,
            IFNULL(p.bed_code,"") as 入科床号,
            IFNULL(p.visit_time,"") as 住院时间,
            CASE
            WHEN(p.unplanned=0)
            THEN "否"
            WHEN(p.unplanned=1)
            THEN "是"
            ELSE ""
            END as 是否非计划,
            IFNULL(p.illness_state,"") as 病情,
            IFNULL(u.login_name,"") as 责任医生,
            IFNULL(tu.login_name,"") as 责任护士,
            IFNULL(p.operation_time,"") as 最新手术时间,
            IFNULL(p.operation_name,"") as 最新手术名称,
            IFNULL(p.diagnosis_name,"") as 诊断,
            IFNULL(p.allergies,"") as 过敏史,
            IFNULL(p.positive,"") as 阳性
        FROM
        p_patient p
        LEFT JOIN dict_department d ON p.department_code = d.department_code
        LEFT JOIN dict_department c ON p.to_department_code = c.department_code
        LEFT JOIN table_user u ON p.doctor_code = u.work_number
        LEFT JOIN table_user tu ON p.nurse_code = tu.work_number
        where
        1=1
        and  p.status != -1
        <if test="visitId != null and visitId != ''">
            and  p.visit_id like '%${visitId}%'
        </if>
        <if test="name != null and name != ''">
            and  p.name like '%${name}%'
        </if>
        <if test="sex != null ">
            and  p.sex =#{sex}
        </if>
        <if test="enterStartTime != null and enterStartTime != ''">
            and p.enter_time between date_format(#{enterStartTime},'%Y%m%d')
            and date_format(#{enterEndTime},'%Y%m%d')
        </if>
        <if test="exitStartTime != null and exitStartTime != ''">
            and p.exit_time between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
        </if>
        <if test="flag != null ">
            and  p.flag= #{flag}
        </if>
        <if test="exitType != null and exitType != ''">
            and  p.exit_type = #{exitType}
        </if>
        <if test="departmentCode != null and departmentCode != ''">
            and  p.department_code = #{departmentCode}
        </if>
        <if test="toDepartmentCode != null and toDepartmentCode != ''">
            and  p.to_department_code = #{toDepartmentCode}
        </if>
        <if test="status != null ">
            and  p.status= #{status}
        </if>
        order by p.enter_time desc
    </select>

    <!-- 首页查询患者现有数量(existing) 今日转入数量(todayEnter) 今日转出数量(todayExit) 本月转入数量(monthEnter) 本月转出数量(monthExit) -->
    <select id="getNowPatientNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
          p_patient
        where
        1=1
        and  status != -1
        <if test="existing != null and existing != ''">
            and flag=1
        </if>
        <if test="todayEnter != null and todayEnter != ''">
            and flag=1
            and to_days(enter_time) = to_days(now())
        </if>
        <if test="todayExit != null and todayExit != ''">
            and flag=0
            and to_days(exit_time) = to_days(now())
        </if>
        <if test="monthEnter != null and todayEnter != ''">
            and flag=1
            and DATE_FORMAT( enter_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        </if>
        <if test="monthExit != null and monthExit != ''">
            and flag=0
            and DATE_FORMAT( exit_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
        </if>
    </select>

    <select id="getBedPatientList" resultType="java.util.Map" parameterType="java.util.Map">
        select
        IFNULL(db.id,"") as bed_code_id,
        IFNULL(db.bed_name,"") as bed_code_name,
        IFNULL(p.visit_id,"") as visit_id,
        IFNULL(p.visit_code,"") as visit_code,
        IFNULL(p.id,"") as patient_id,
        p.int_id,
        IFNULL(p.name,"") as name,
        IFNULL(p.age,"") as age,
        CASE
        WHEN(p.sex=0)
        THEN "女"
        WHEN(p.sex=1)
        THEN "男"
        ELSE ""
        END as sex,
        IFNULL(p.enter_time,"") as enter_time,
        IFNULL(p.exit_time,"") as exit_time,
        CASE
        WHEN(p.flag=0)
        THEN "出科"
        WHEN(p.flag=1)
        THEN "在科"
        ELSE ""
        END as flag,
        IFNULL(p.exit_type,"") as exit_type,
        IFNULL(d.department_name,"") as department_name,
        IFNULL(c.department_name,"") as department_name,
        IFNULL(p.bed_code,"") as bed_code,
        IFNULL(p.visit_time,"") as visit_time,
        CASE
        WHEN(p.unplanned=0)
        THEN "否"
        WHEN(p.unplanned=1)
        THEN "是"
        ELSE ""
        END as unplanned,
        IFNULL(p.illness_state,"") as illness_state,
        IFNULL(u.user_name,"") as docter,
        IFNULL(tu.user_name,"") as nurse,
        IFNULL(p.operation_time,"") as operation_time,
        IFNULL(p.operation_name,"") as operation_name,
        IFNULL(p.diagnosis_name,"") as diagnosis_name,
        IFNULL(p.allergies,"") as allergies,
        IFNULL(p.positive,"") as positive,
        IFNULL(to_days(now()) - to_days(p.enter_time),"") as department_days,
        IFNULL(to_days(now()) - to_days(p.operation_time),"") as operation_days
        FROM
        dict_bed db
		LEFT JOIN p_patient p ON db.bed_code=p.bed_code and p.flag =1 and  p.status != -1
        LEFT JOIN dict_department d ON p.department_code = d.department_code
        LEFT JOIN dict_department c ON p.to_department_code = c.department_code
        LEFT JOIN table_user u ON p.doctor_code = u.work_number
        LEFT JOIN table_user tu ON p.nurse_code = tu.work_number
        where
        1=1
        and db.status=1
        order by db.bed_code,p.enter_time desc
    </select>

    <select id="getNoBedPatientList" resultMap="patientMap" parameterType="java.util.Map">
        select
        <include refid="patient_colums"></include>
        from
        p_patient
        where
        1=1
        and status != -1
        <if test="flag != null and flag == 1">
            and flag=#{flag}
            and (
            bed_code is null OR bed_code="")
        </if>
        <if test="flag != null and flag == 0">
            and flag=#{flag}
        </if>
    </select>

    <select id="getOutAndIn" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        FROM
        p_patient p
        where
        1=1
        and status != -1
        <if test="flag != null and flag == 1">
            and  flag= 1
            and (
            date_format(enter_time,'%Y%m%d') between date_format(#{enterStartTime},'%Y%m%d')
                and date_format(#{enterEndTime},'%Y%m%d')
            )
        </if>
        <if test="flag != null and flag == 0">
            and  flag= 0
            and (
            date_format(exit_time,'%Y%m%d') between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
            )
        </if>
        <if test="exitType != null and exitType != ''">
            and  exit_type = #{exitType}
        </if>
    </select>

    <!-- 查询所有病人的入科科室分类名称-->
    <select id="getAllEnterDepartment" resultType="java.util.Map" parameterType="java.util.Map">
        select
        IFNULL(p.department_code,"") as department_code,
        IFNULL(d.department_name,"") as department_name
        FROM
        p_patient p
        LEFT JOIN dict_department d ON p.department_code = d.department_code
        and p.flag = 1
        and p.status != -1
        and (
                 date_format(p.enter_time,'%Y%m%d') between date_format(#{enterStartTime},'%Y%m%d')
                and date_format(#{enterEndTime},'%Y%m%d')
            )
        GROUP BY p.department_code
    </select>

    <!-- 统计分析-出入科-转入或转出科室病人数量 -->
    <select id="getEnterAndExitDepartment" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(id)
        FROM
        p_patient
        where
        1=1
        and status != -1
        <if test="flag != null and flag == 1">
            and  flag= 1
            and (
            date_format(enter_time,'%Y%m%d') between date_format(#{enterStartTime},'%Y%m%d')
            and date_format(#{enterEndTime},'%Y%m%d')
            )
            and department_code = #{departmentCode}
        </if>
        <if test="flag != null and flag == 0">
            and  flag= 0
            and (
            date_format(exit_time,'%Y%m%d') between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
            )
            and to_department_code = #{toDepartmentCode}
        </if>
        <if test="exitType != null and exitType != ''">
            and  exit_type = #{exitType}
        </if>
    </select>

    <!-- 查询所有病人的出科科室分类名称-->
    <select id="getAllExitDepartment" resultType="java.util.Map" parameterType="java.util.Map">
        select
        IFNULL( p.to_department_code,"") as to_department_code,
        IFNULL(d.department_name,"") as department_name
        FROM
        p_patient p
        LEFT JOIN dict_department d ON p.to_department_code = d.department_code
        and p.flag = 0
        and p.status != -1
        and (
               date_format(p.exit_time,'%Y%m%d') between date_format(#{exitStartTime},'%Y%m%d')
            and date_format(#{exitEndTime},'%Y%m%d')
            )
        GROUP BY p.to_department_code
    </select>

    <!-- 统计分析-出入科-趋势分析-转出方式 病人数量(按天)-->
    <select id="getNumByExitType" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        exitTab.exitTime,
        exitTab.num
        FROM
        ( SELECT
        COUNT(DATE_FORMAT(exit_time, '%Y-%m-%d')) AS num,
        DATE_FORMAT(exit_time, '%Y-%m-%d') AS exitTime
        FROM
        p_patient
        WHERE
        STATUS != - 1
        AND flag = 0
        AND (
        date_format(exit_time, '%Y-%m-%d') BETWEEN date_format(#{exitStartTime}, '%Y-%m-%d')
        AND date_format(#{exitEndTime}, '%Y-%m-%d')
        )
        <if test="exitType != null and exitType != ''">
            and  exit_type = #{exitType}
        </if>
        GROUP BY
        exitTime
        <foreach collection="list" item="dateStr" separator="">
            UNION (SELECT 0,#{dateStr})
        </foreach>
          ) AS exitTab
        GROUP BY exitTab.exitTime
        order by exitTab.exitTime
    </select>

    <!-- 统计分析-出入科-趋势分析-转出方式 病人数量(按月)-->
    <select id="getNumByExitTypeMonth" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        exitTab.mon,
        exitTab.num
        FROM
        ( SELECT
        COUNT(id) AS num,
        MONTH (exit_time) AS mon
        FROM
        p_patient
        WHERE
        STATUS != - 1
        AND flag = 0
        AND YEAR(exit_time) = #{year}
        <if test="exitType != null and exitType != ''">
            and  exit_type = #{exitType}
        </if>
        GROUP BY
        mon
        <foreach collection="list" item="dateStr" separator="">
            UNION (SELECT 0,#{dateStr})
        </foreach>
        ) AS exitTab
        GROUP BY exitTab.mon
        order by exitTab.mon+0
    </select>
</mapper>
