<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.patient.PatientScoreDao">

    <resultMap id="patientScoreMap" type="com.jyxd.web.data.patient.PatientScore">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="visit_id" property="visitId" jdbcType="VARCHAR"/>
        <result column="visit_code" property="visitCode" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="score_time" property="scoreTime" jdbcType="DATE"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="score_knowledge_id" property="scoreKnowledgeId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="report_time" property="reportTime" jdbcType="DATE"/>
        <result column="assessment_time" property="assessmentTime" jdbcType="DATE"/>
        <result column="nursing_step" property="nursingStep" jdbcType="VARCHAR"/>
        <result column="other_step" property="otherStep" jdbcType="VARCHAR"/>
        <result column="signature" property="signature" jdbcType="VARCHAR"/>
        <result column="mortality_rate" property="mortalityRate" jdbcType="VARCHAR"/>
        <result column="extend_column" property="extendColumn" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="patientScore_colums">id,visit_id,visit_code,patient_id,type,score_time,score,score_knowledge_id,create_time,operator_code,
                                    status,report_time,assessment_time,nursing_step,other_step,signature,mortality_rate,extend_column
                              </sql>
    <sql id="patientScore_propertys">#{id},#{visitId},#{visitCode},#{patientId},#{type},#{scoreTime},#{score},#{scoreKnowledgeId},#{createTime},
                                  #{operatorCode},#{status},#{reportTime},#{assessmentTime},#{nursingStep},#{otherStep},#{signature},#{mortalityRate},#{extendColumn}
                              </sql>
    <sql id="patientScore_update">visit_id=#{visitId},visit_code=#{visitCode},patient_id=#{patientId},type=#{type},score_time=#{scoreTime},
                              score=#{score},score_knowledge_id=#{scoreKnowledgeId},create_time=#{createTime},operator_code=#{operatorCode},
		                      status=#{status},report_time=#{reportTime},assessment_time=#{assessmentTime},nursing_step=#{nursingStep},
		                      other_step=#{otherStep},signature=#{signature},mortality_rate=#{mortalityRate},extend_column=#{extendColumn}
		                      </sql>

    <insert id="insert">
        insert into
        p_patient_score(<include refid="patientScore_colums"></include>)
        values (<include refid="patientScore_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.patient.PatientScore" >
        update p_patient_score
        set <include refid="patientScore_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="patientScoreMap" parameterType="java.lang.String">
        select
          <include refid="patientScore_colums"></include>
        from
        p_patient_score
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="patientScore_colums"></include>
        from
        p_patient_score
        where
          1=1
        and  status != -1
        <if test="name != null and name != ''">
            and  name like '%${name}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        p_patient_score
        where
        1=1
        and  status != -1
        <if test="name != null and name != ''">
            and  name like '%${name}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <!-- 根据评分类型 分数 病人主键id 查询评分记录列表 -->
    <select id="queryDataByScoreAndType" resultMap="patientScoreMap" parameterType="java.util.Map">
        select
        <include refid="patientScore_colums"></include>
        from
        p_patient_score
        where
        1=1
        and  status != -1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="type != null and type != ''">
            and  type =#{type}
        </if>
        <if test="score != null ">
            and  score =#{score}
        </if>
    </select>

    <!-- 根据评分类型 病人主键id 查询评分记录列表 （group by 评分时间） -->
    <select id="queryDataListGroupByTime" resultMap="patientScoreMap" parameterType="java.util.Map">
        select
        <include refid="patientScore_colums"></include>
        from
        p_patient_score
        where
        1=1
        and  status != -1
        <if test="patientId != null and patientId != ''">
            and  patient_id =#{patientId}
        </if>
        <if test="type != null and type != ''">
            and  type =#{type}
        </if>
        GROUP BY score_time
        ORDER BY score_time
    </select>

    <!-- 根据评分时间 评分类型 病人主键id 查询 病人评分列表 -->
    <select id="getPatientScoreList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            IFNULL(psi.id, "") AS id,
            IFNULL(psi.item_id, "") AS item_id,
            IFNULL(psi.parent_id, "") AS parent_id,
            IFNULL(psi.patient_id, "") AS patient_id,
            IFNULL(b. NAME, "") AS NAME,
            IFNULL(b.score_item_name, "") AS score_item_name,
            IFNULL(psi.type, "") AS type,
            IFNULL(psi.patient_score_id, "") AS patient_score_id
        FROM
            (
                SELECT
                    a.*, dsi.score_item_name AS NAME
                FROM
                    (
                        SELECT
                            *
                        FROM
                            dict_score_item
                        WHERE
                            1 = 1
                        AND STATUS != - 1
                        AND type = #{type}
                        AND (
                            parent_id != NULL || parent_id != ""
                        )
                    ) a
                LEFT JOIN dict_score_item dsi ON dsi.id = a.parent_id
            ) b
        LEFT JOIN p_patient_score_item psi ON psi.type = b.type
        AND psi.item_id = b.id
        AND psi.parent_id = b.parent_id
        AND psi.patient_id = #{patientId}
        AND psi.score_time = #{scoreTime}
    </select>

    <!-- 根据主键id 获取评分时间  带准确时分秒的 -->
    <select id="getTimeById" resultType="java.lang.String" parameterType="java.lang.String">
        select
        score_time
        from
        p_patient_score
        where
        1=1
        and  status != -1
        <if test="id != null and id != ''">
            and  id =#{id}
        </if>
    </select>

    <select id="getListByPatientIdAndType" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            pps.id,
            date_format(pps.score_time, '%Y-%m-%d') AS date,
            date_format(pps.score_time, '%H:%i') AS time,
            pps.score,
            tu.user_name AS NAME
        FROM
            p_patient_score pps
        LEFT JOIN table_user tu ON tu.login_name = pps.signature
        WHERE
            pps.patient_id = #{patientId}
        AND pps.type = #{type}
    </select>

</mapper>
