<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.dictionary.ScoreDictionaryDao">

    <resultMap id="scoreDictionaryMap" type="com.jyxd.web.data.dictionary.ScoreDictionary">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="score_type" property="scoreType" jdbcType="VARCHAR"/>
        <result column="score_name" property="scoreName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sort_num" property="sortNum" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="syn_report" property="synReport" jdbcType="INTEGER"/>
        <result column="report_type" property="reportType" jdbcType="VARCHAR"/>
        <result column="report_code" property="reportCode" jdbcType="VARCHAR"/>
        <result column="syn_nursing" property="synNursing" jdbcType="INTEGER"/>
        <result column="syn_assessment" property="synAssessment" jdbcType="INTEGER"/>
        <result column="assessment_type" property="assessmentType" jdbcType="VARCHAR"/>
        <result column="assessment_code" property="assessmentCode" jdbcType="VARCHAR"/>
        <result column="legend" property="legend" jdbcType="VARCHAR"/>
        <result column="has_statistics" property="hasStatistics" jdbcType="INTEGER"/>
        <result column="date_type" property="dateType" jdbcType="VARCHAR"/>
        <result column="scoreRule" property="scoreRule" jdbcType="VARCHAR"/>
        <result column="score_opportunity" property="scoreOpportunity" jdbcType="VARCHAR"/>
        <result column="nursing_step" property="nursingStep" jdbcType="VARCHAR"/>
        <result column="show_nursing" property="showNursing" jdbcType="INTEGER"/>
        <result column="show_other_step" property="showOtherStep" jdbcType="INTEGER"/>
        <result column="show_signature" property="showSignature" jdbcType="INTEGER"/>
        <result column="show_smart_score" property="showSmartScore" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="scoreDictionary_colums">id,type,score_type,score_name,description,sort_num,status,
        create_time,syn_report,report_type,report_code,syn_nursing,
		syn_assessment,assessment_type,assessment_code,legend,has_statistics,
		date_type,scoreRule,score_opportunity,nursing_step,show_nursing,
		show_other_step,show_signature,show_smart_score</sql>
    <sql id="scoreDictionary_propertys">#{id},#{type},#{scoreType},#{scoreName},#{description},
        #{sortNum},#{status},#{createTime},#{synReport},#{reportType},#{reportCode},#{synNursing},#{synAssessment},
		#{assessmentType},#{assessmentCode},#{legend},#{hasStatistics},#{dateType},#{scoreRule},#{scoreOpportunity},
		#{nursingStep},#{showNursing},#{showOtherStep},#{showSignature},#{showSmartScore}</sql>
    <sql id="scoreDictionary_update">type=#{type},score_type=#{scoreType},score_name=#{scoreName},
        description=#{description},sort_num=#{sortNum},status=#{status},create_time=#{createTime},
		syn_report=#{synReport},report_type=#{reportType},report_code=#{reportCode},syn_nursing=#{synNursing},
		syn_assessment=#{synAssessment},assessment_type=#{assessmentType},assessment_code=#{assessmentCode},
		legend=#{legend},has_statistics=#{hasStatistics},date_type=#{dateType},scoreRule=#{scoreRule},
		score_opportunity=#{scoreOpportunity},nursing_step=#{nursingStep},show_nursing=#{showNursing},
		show_other_step=#{showOtherStep},show_signature=#{showSignature},show_smart_score=#{showSmartScore}</sql>

    <insert id="insert">
        insert into
        dict_score(<include refid="scoreDictionary_colums"></include>)
        values (<include refid="scoreDictionary_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.dictionary.ScoreDictionary" >
        update dict_score
        set <include refid="scoreDictionary_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="scoreDictionaryMap" parameterType="java.lang.String">
        select
          <include refid="scoreDictionary_colums"></include>
        from
        dict_score
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="scoreDictionary_colums"></include>
        from
        dict_score
        where
          1=1
        and  status != -1
        <if test="scoreName != null and scoreName != ''">
            and  score_name like '%${scoreName}%'
        </if>
        <if test="scoreType != null and scoreType != ''">
            and  score_type =#{scoreType}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        dict_score
        where
        1=1
        and  status != -1
        <if test="scoreName != null and scoreName != ''">
            and  score_name like '%${scoreName}%'
        </if>
        <if test="scoreType != null and scoreType != ''">
            and  score_type =#{scoreType}
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="queryDataByType" resultMap="scoreDictionaryMap" parameterType="java.util.Map">
        select
        <include refid="scoreDictionary_colums"></include>
        from
        dict_score
        where
        1=1
        <if test="id != null and id != ''">
            and  id=#{id}
        </if>
        <if test="type != null and type != ''">
            and type=#{type}
        </if>
    </select>

</mapper>
