<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.dictionary.ScoreItemDictionaryDao">

    <resultMap id="scoreItemDictionaryMap" type="com.jyxd.web.data.dictionary.ScoreItemDictionary">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="score_id" property="scoreId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="score_item_name" property="scoreItemName" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="score_item_min" property="scoreItemMin" jdbcType="VARCHAR"/>
        <result column="score_item_max" property="scoreItemMax" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="sort_num" property="sortNum" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="mode" property="mode" jdbcType="INTEGER"/>
        <result column="by_count" property="byCount" jdbcType="INTEGER"/>
        <result column="hide_title" property="hideTitle" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="show_mode" property="showMode" jdbcType="INTEGER"/>
        <result column="force_horizon" property="forceHorizon" jdbcType="INTEGER"/>
        <result column="double_score" property="doubleScore" jdbcType="INTEGER"/>
        <result column="group_num" property="groupNum" jdbcType="INTEGER"/>
        <result column="calculate_num" property="calculateNum" jdbcType="DOUBLE"/>
        <result column="calculate_rule" property="calculateRule" jdbcType="VARCHAR"/>
        <result column="item_group_exclusion_num" property="itemGroupExclusionNum" jdbcType="VARCHAR"/>
        <result column="group_exclusion_num" property="groupExclusionNum" jdbcType="VARCHAR"/>
        <result column="fast_column_name" property="fastColumnName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="scoreItemDictionary_colums">id,score_id,type,score_item_name,score,score_item_min,score_item_max,description,sort_num,status,
		mode,by_count,hide_title,create_time,show_mode,force_horizon,double_score,group_num,calculate_num,
		calculate_rule,item_group_exclusion_num,group_exclusion_num,fast_column_name</sql>
    <sql id="scoreItemDictionary_propertys">#{id},#{scoreId},#{type},#{scoreItemName},#{score},#{scoreItemMin},#{scoreItemMax},#{description},
		#{sortNum},#{status},#{mode},#{byCount},#{hideTitle},#{createTime},#{showMode},#{forceHorizon},#{doubleScore},#{groupNum},
		#{calculateNum},#{calculateRule},#{itemGroupExclusionNum},#{groupExclusionNum},#{fastColumnName}</sql>
    <sql id="scoreItemDictionary_update">id=#{id},score_id=#{scoreId},type=#{type},score_item_name=#{scoreItemName},score=#{score},
        score_item_min=#{scoreItemMin},score_item_max=#{scoreItemMax},description=#{description},
		sort_num=#{sortNum},status=#{status},mode=#{mode},by_count=#{byCount},hide_title=#{hideTitle},create_time=#{createTime},
		show_mode=#{showMode},force_horizon=#{forceHorizon},double_score=#{doubleScore},group_num=#{groupNum},calculate_num=#{calculateNum},
		calculate_rule=#{calculateRule},item_group_exclusion_num=#{itemGroupExclusionNum},group_exclusion_num=#{groupExclusionNum},
		fast_column_name=#{fastColumnName}</sql>

    <insert id="insert">
        insert into
          dict_bed(<include refid="scoreItemDictionary_colums"></include>)
        values (<include refid="scoreItemDictionary_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.dictionary.ScoreItemDictionary" >
        update dict_bed
        set <include refid="scoreItemDictionary_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="scoreItemDictionaryMap" parameterType="java.lang.String">
        select
          <include refid="scoreItemDictionary_colums"></include>
        from
          dict_bed
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="scoreItemDictionary_colums"></include>
        from
          dict_bed
        where
          1=1
        and  status != -1
        <if test="scoreItemName != null and scoreItemName != ''">
            and  score_item_name like '%${scoreItemName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        dict_bed
        where
        1=1
        and  status != -1
        <if test="scoreItemName != null and scoreItemName != ''">
            and  score_item_name like '%${scoreItemName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

</mapper>
