<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.user.UserDao">

    <resultMap id="userMap" type="com.jyxd.web.data.user.User">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="work_number" property="workNumber" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="simplicity" property="simplicity" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="user_type_code" property="userTypeCode" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="enter_time" property="enterTime" jdbcType="DATE"/>
        <result column="exit_time" property="exitTime" jdbcType="DATE"/>
        <result column="is_schedual" property="isShedual" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="user_colums">id,work_number,login_name,password,simplicity,sex,user_type_code,role_id,
                          status,enter_time,exit_time,is_schedual,create_time</sql>
    <sql id="user_propertys">#{id},#{workNumber},#{loginName},#{password},#{simplicity},#{sex},#{userTypeCode},
                          #{roleId},#{status},#{enterTime},#{exitTime},#{isShedual},#{createTime}</sql>
    <sql id="user_update">work_number=#{workNumber},login_name=#{loginName},password=#{password},
                        simplicity=#{simplicity},sex=#{sex},user_type_code=#{userTypeCode},
                        role_id=#{roleId},status=#{status},enter_time=#{enterTime},
                        exit_time=#{exitTime},is_schedual=#{isShedual},create_time=#{createTime}</sql>

    <insert id="insert">
        insert into
        table_user(<include refid="user_colums"></include>)
        values (<include refid="user_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.user.User" >
        update table_user
        set <include refid="user_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="userMap" parameterType="java.lang.String">
        select
          <include refid="user_colums"></include>
        from
        table_user
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="user_colums"></include>
        from
        table_user
        where
          1=1
        and  status != -1
        <if test="loginName != null and loginName != ''">
            and  login_name like '%${loginName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="getList" resultType="java.util.Map">
        SELECT
        IFNULL(tu.id,"") as id,
        IFNULL(tu.work_number,"") as work_number,
        IFNULL(tu.login_name,"") as login_name,
        IFNULL(tu.password,"") as password,
        IFNULL(tu.simplicity,"") as simplicity,
        tu.sex as sex,
        IFNULL(tu.user_type_code,"") as user_type_code,
        IFNULL(tu.role_id,"") as role_id,
        tu.status as status,
        IFNULL(tu.enter_time,"") as enter_time,
        IFNULL(tu.exit_time,"") as exit_time,
        tu.is_schedual as is_schedual,
        IFNULL(tu.create_time,"") as create_time,
        IFNULL(tut.user_type_name,"") as user_type_name,
        IFNULL(tr.role_name,"") as role_name
        FROM
        table_user tu
        LEFT JOIN table_role tr ON tu.role_id = tr.id
        LEFT JOIN table_user_type tut ON tu.user_type_code = tut.user_type_code
        WHERE
        tu.status !=- 1
        AND tr.status !=- 1
        AND tut.status !=- 1
        <if test="workNumber != null and workNumber != ''">
            and  tu.work_number =#{workNumber}
        </if>
        <if test="sex != null">
            and  tu.sex =#{sex}
        </if>
        <if test="roleId != null and roleId != ''">
            AND FIND_IN_SET(tu.role_id,#{roleId})
        </if>
        <if test="userTypeCode != null and userTypeCode != ''">
            and  tu.user_type_code =#{userTypeCode}
        </if>
        <if test="loginName != null and loginName != ''">
            and  tu.login_name like '%${loginName}%'
        </if>
        <if test="status != null ">
            and  tu.status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryUserByNameAndPassword" resultMap="userMap" >
        select
          <include refid="user_colums"></include>
        from table_user
        where
          status in (0,1)
        <if test="loginName !=null and loginName != ''">
            and  login_name=#{loginName}
        </if>
        <if test="password !=null and password != ''">
            and  password=#{password}
        </if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
            count(id)
        from
        table_user
        where
        1=1
        and  status != -1
        <if test="loginName != null and loginName != ''">
            and  login_name like '%${loginName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

    <select id="getNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
          count(tu.id)
        FROM
        table_user tu
        LEFT JOIN table_role tr ON tu.role_id = tr.id
        LEFT JOIN table_user_type tut ON tu.user_type_code = tut.user_type_code
        WHERE
        tu.status !=- 1
        AND tr.status !=- 1
        AND tut.status !=- 1
        <if test="workNumber != null and workNumber != ''">
            and  tu.work_number =#{workNumber}
        </if>
        <if test="sex != null">
            and  tu.sex =#{sex}
        </if>
        <if test="roleId != null and roleId != ''">
            AND FIND_IN_SET(tu.role_id,#{roleId})
        </if>
        <if test="userTypeCode != null and userTypeCode != ''">
            and  tu.user_type_code =#{userTypeCode}
        </if>
        <if test="loginName != null and loginName != ''">
            and  tu.login_name like '%${loginName}%'
        </if>
        <if test="status != null ">
            and  tu.status= #{status}
        </if>
    </select>

    <select id="getUserListByType" resultType="java.util.Map">
        SELECT
            tu.name,
            tut.user_type_name,
            tu.work_number
        FROM
            table_user_type tut
        LEFT JOIN table_user tu ON tut.user_type_code = tu.user_type_code
        WHERE
            tut.status = 1
        AND tu.status = 1
        <if test="userTypeName != null and userTypeName != ''">
            and  tut.user_type_name = #{userTypeName}
        </if>
    </select>
</mapper>
