<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.user.UserTypeDao">

    <resultMap id="userTypeMap" type="com.jyxd.web.data.user.UserType">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_type_code" property="userTypeCode" jdbcType="VARCHAR"/>
        <result column="user_type_name" property="userTypeName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    
    <sql id="userType_colums">id,user_type_code,user_type_name,status,create_time</sql>
    <sql id="userType_propertys">#{id},#{userTypeCode},#{userTypeName},#{status},#{createTime}</sql>
    <sql id="userType_update">user_type_code=#{userTypeCode},user_type_name=#{userTypeName},status=#{status},create_time=#{createTime}</sql>

    <insert id="insert">
        insert into
        table_user_type(<include refid="userType_colums"></include>)
        values (<include refid="userType_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.user.UserType" >
        update table_user_type
        set <include refid="userType_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="userTypeMap" parameterType="java.lang.String">
        select
          <include refid="userType_colums"></include>
        from
        table_user_type
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="userType_colums"></include>
        from
        table_user_type
        where
          1=1
        and  status != -1
        <if test="userTypeName != null and userTypeName != ''">
            and  user_type_name like '%${userTypeName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryDataByCode" resultMap="userTypeMap" parameterType="java.util.Map">
        select
        <include refid="userType_colums"></include>
        from
        table_user_type
        where
          status !=-1
        and
        (user_type_name = #{userTypeName}
        or
          user_type_code = #{userTypeCode})
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_user_type
        where
        1=1
        and  status != -1
        <if test="userTypeName != null and userTypeName != ''">
            and  user_type_name like '%${userTypeName}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

</mapper>
