<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jyxd.web.dao.basic.VitalSignAlarmDao">

    <resultMap id="vitalSignAlarmMap" type="com.jyxd.web.data.basic.VitalSignAlarm">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="setting_type" property="settingType" jdbcType="VARCHAR"/>
        <result column="setting_content" property="settingContent" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="template" property="template" jdbcType="VARCHAR"/>
        <result column="is_sync" property="isSync" jdbcType="INTEGER"/>
        <result column="is_alarm" property="isAlarm" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="operator_code" property="operatorCode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    
    <sql id="vitalSignAlarm_colums">id,setting_type,setting_content,patient_id,table_name,template,is_sync,is_alarm,create_time,operator_code,status</sql>

    <sql id="vitalSignAlarm_propertys">#{id},#{settingType},#{settingContent},#{patientId},#{tableName},#{template},#{isSync},
                                  #{isAlarm},#{createTime},#{operatorCode},#{status}</sql>

    <sql id="vitalSignAlarm_update">setting_type=#{settingType},setting_content=#{settingContent},patient_id=#{patientId},
                              table_name=#{tableName},template=#{template},is_sync=#{isSync},is_alarm=#{isAlarm},create_time=#{createTime},
                              operator_code=#{operatorCode},status=#{status}</sql>

    <insert id="insert">
        insert into
        table_vital_sign_alarm(<include refid="vitalSignAlarm_colums"></include>)
        values (<include refid="vitalSignAlarm_propertys"></include>)
    </insert>

    <update id="update" parameterType="com.jyxd.web.data.basic.VitalSignAlarm" >
        update
        table_vital_sign_alarm
        set <include refid="vitalSignAlarm_update"></include>
        where
          id=#{id}
    </update>

    <select id="queryData" resultMap="vitalSignAlarmMap" parameterType="java.lang.String">
        select
          <include refid="vitalSignAlarm_colums"></include>
        from
        table_vital_sign_alarm
        where
          id=#{id}
    </select>

    <select id="queryList" resultType="java.util.Map">
        select
          <include refid="vitalSignAlarm_colums"></include>
        from
        table_vital_sign_alarm
        where
          1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
        <if test="start != null ">limit #{start},</if>
        <if test="size != null ">#{size}</if>
    </select>

    <select id="queryNum" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
          count(id)
        from
        table_vital_sign_alarm
        where
        1=1
        and  status != -1
        <if test="content != null and content != ''">
            and  content like '%${content}%'
        </if>
        <if test="status != null ">
            and  status= #{status}
        </if>
    </select>

</mapper>
